<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcy.login.mapper.UserMapper">
	<!-- 황하경 220831 -->
	
	<!-- 로그인 -->
    <!-- 9.7.곽ㅈㅇ: user_name만 별칭으로 변경함 → 시큐리티 username필드명과 동음이의 이슈 해소 -->
	<select id="getUserAccount" resultType="com.kcy.login.service.UserVo">
		SELECT user_id, 
               user_type, 
               user_name my_name, 
               user_ssn, 
               user_sex, 
               user_dept, 
               user_addr, 
               user_phone, 
               user_email, 
               user_pw, 
               user_nation, 
               user_pic
		  FROM k_users
         WHERE USER_ID= #{userId}
	</select>
	
	<select id="findUserByUserId" resultType="com.kcy.login.service.UserVo" parameterType="string">
		SELECT
				*
		FROM
				k_users
		WHERE
				user_email = #{userEmail}
	</select>
	 
	<update id="updateUserPassword" parameterType="com.kcy.login.service.UserVo">
		UPDATE
				k_users
		SET
				user_pw = #{pw}
		WHERE
				user_email = #{userEmail}
	</update>
	
	<select id="userChangePw" resultType="com.kcy.login.service.UserVo">
		select 
			   user_id, 
			   user_type, 
               user_name my_name, 
               user_ssn, 
               user_sex, 
               user_dept, 
               user_addr, 
               user_phone, 
               user_email, 
               user_pw, 
               user_nation, 
               user_pic
			from
				k_users
			where
				user_email = #{userEmail}
	</select>
</mapper>