<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">  

<th:block layout:fragment="content">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->
  <h1>매칭 이력</h1>
  <form action="matchingListInfo">
		<div class="row">				
			<div class="col-md-2">
				<div class="input-group input-group-outline my-3">
					<label class="form-label"></label> 
					<select class="form-control" name="userDept" id="userDept">
						<option value="">교수 전공 선택</option>
						  <th:block th:each="mjr : ${majorb}">
						    <option th:text="${mjr.majorName}" th:value="${mjr.majorName}"></option>
						  </th:block>			
					</select>
				</div>
			</div>
			<div class="col-md-2">
				<div class="input-group input-group-outline my-3">
					<label class="form-label"></label> 
					<select class="form-control" name="stdDept" id="stdDept">
						<option value="">학생 전공 선택</option>
						  <th:block th:each="mjr : ${majorb}">
						    <option th:text="${mjr.majorName}" th:value="${mjr.majorName}"></option>
						  </th:block>			
					</select>
				</div>
			</div>
			<div class="col-md-2">
				<div class="input-group input-group-outline my-3">
					<label class="form-label"></label> 
					<select class="form-control" name="matchingType" id="matchingType">
						<option value="">매칭상태</option>
						<option value="0">매칭중</option>
						<option value="1">매칭해지</option>
					</select>
				</div>
			</div>			
			<div class="col-md-2">
				<div class="input-group input-group-outline my-3">
					<button class="btn bg-gradient-primary">조회</button>
				</div>
			</div>
	</form>

	
  <table class="table" id="matchingTable" style="width:100%">
	<thead>
		<tr>
			<th>매칭코드</th>
			<th>교수이름</th>
			<th>교수전공</th>
			<th>학생이름</th>
			<th>학생전공</th>
			<th>매칭구분</th>
			<th>매칭일</th>
		</tr>
	</thead>
	<tbody>	
		<tr th:each="matching:${matchingList}">
			<td th:text="${matching.matchingId}"></td>
			<td th:text="${matching.prName}"></td>
			<td th:text="${matching.prDept}"></td>
			<td th:text="${matching.stName}"></td>
			<td th:text="${matching.stDept}"></td>
			<td>
				<span th:if="${matching.matchingType.toString().equals('0')}">매칭중</span>
				<span th:if="${matching.matchingType.toString().equals('1')}">매칭해지</span>
			</td>
			<td th:text="${#calendars.format(matching.matchingDate, 'yyyy-MM-dd')}"></td>
		</tr>
	</tbody>
   </table>
   
   <script>
   	$("#matchingTable").DataTable({ });
   </script>
      	  
  <!-- 본문 end-->
</th:block>	
</html>