<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">  

<th:block layout:fragment="content">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<style>
.stdactive {
	background-color : gray
}
</style> 
    
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->  
  <h3>지도교수가 없는 학생 목록</h3>
  <table class="table table-striped" id="matchingStd">
	<thead>
		<tr>
			<th>학번</th>
			<th>이름</th>
			<th>전공</th>
			<th>학년</th>
			<th>연락처</th>
			<th>학적</th>
			<th>매칭</th>
		</tr>
	</thead>
	<tbody>	
		<tr th:each="std:${matchingStd}">
			<td th:text="${std.stuId}"></td>
			<td th:text="${std.userName}"></td>
			<td th:text="${std.userDept}"></td>
			<td th:text="${std.studentGrade}"></td>
			<td th:text="${std.userPhone}"></td>
			<td th:text="${std.studentAcaYn}"></td>
			<td>
				<span th:if="${std.studentProf == null}">
				<button class="btn btn-primary" onclick="onDisplay()">선택</button>
				</span>
			</td>		
		</tr>
	</tbody>
   </table>
   <br>
   <br>
   <div id="profList" class="text-center" style="display: none;">
   <h3>매칭 가능한 교수 목록</h3>
	  <table class="table table-striped" id="matchingProf">
		<thead>
			<tr>
				<th>교번</th>
				<th>이름</th>
				<th>전공</th>
				<th>연구실</th>
				<th>담당 가능 학생 수</th>
				<th>매칭여부</th>
			</tr>
		</thead>
		<tbody>	
			<tr th:each="Prof:${matchingProf}">
				<td th:text="${Prof.profId}"></td>
				<td th:text="${Prof.userName}"></td>
				<td th:text="${Prof.userDept}"></td>
				<td th:text="${Prof.profLab}"></td>
				<td th:text="${Prof.mentee}"></td>
				<td>				
					<button class="btn btn-primary prof">매칭</button>				
				</td>
			</tr>
		</tbody>
	   </table>
   </div>
   
   <script>
   	$("#matchingStd").DataTable({ });
   	$("#matchingProf").DataTable({ });
   	
   	function onDisplay(e) {
   		e = window.event || e; 
   		$(".stdactive").css("backgroundColor","")
   		$(".stdactive").removeClass("stdactive")
   		$(e.target).closest("tr").addClass("stdactive")
   		$(e.target).closest("tr").css("backgroundColor", "aqua")  
   		$('#profList').show();
   	}
   	
   	$(".prof").on("click", function () {
   		var matchingP = ($(this).closest("tr").find("td:first").text())
   		var matchingS = ($(".stdactive").find("td:first").text())
   		console.log(matchingP)
   		console.log(matchingS)
   		$.ajax({
   			type: "post",
   			url: "/matching",
   			data: {userId : matchingP,
   				    studentId : matchingS},
   			success : function (result){
   				if(result == "1") {
   					alert ("매칭 완료")
   					location.href = "matchingStd"
   				}
   			}	  
   			
   		})
   	});   	
   </script>
      	  
  <!-- 본문 end-->
</th:block>	
</html>