<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<style>
.stdactive {
	background-color: gray
}

.card {
	margin-bottom: 20px;
}

.pagination .active .page-link {
	background-color: #7b809a;
	border-color: #7b809a;
}

.page-link:focus {
	box-shadow: 0 0 0 0.2rem rgb(123 128 154/ 25%);
}

.table td {
	text-align: center;
}

.table.dataTable thead>tr>th.sorting {
	text-align: center;
}
</style>

	<!-- 상단 내비바 -->
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

	<!-- 본문 start -->
	<div class="container-fluid">
	  <div class="row justify-content-center">
		<div class="card p-3 me-3 border border-5">

				<!-- 각 페이지 타이틀바 -->
				<div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
					<div
						class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
						<h6 class="text-white ps-3 m-0">지도 교수가 없는 학생 목록</h6>
					</div>
				</div>
				<form action="matchingStdInfo" method="post">
					<div class="row">						
						<div class="col-md-2">
							<div class="input-group input-group-outline my-3">
								<label class="form-label"></label> <select class="form-control"
									name="stdDept" id="stdDept">
									<option value="">학생 전공 선택</option>
									<th:block th:each="mjr:${majorb}">
										<option th:text="${mjr.majorName}" th:value="${mjr.majorName}"
										th:selected="${mjr.majorName eq param?.stdDept?.toString()}"></option>
									</th:block>
								</select>
							</div>
						</div>						
						<div class="col-md-2">
							<div class="input-group input-group-outline my-3">
								<button class="btn btn-secondary">조회</button>
							</div>
						</div>
					</div>
				</form>
				<div class="table-responsive">
					<table class="table align-items-center" id="matchingStd">				
						<thead>
							<tr>							
								<th>학번</th>
								<th>이름</th>
								<th>전공</th>
								<th>학년</th>
								<th>연락처</th>
								<th>학적</th>
								<th>매칭</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="std:${matchingStd}">							
								<td th:text="${std.stuId}"></td>
								<td th:text="${std.userName}"></td>
								<td th:text="${std.userDept}"></td>
								<td th:text="${std.studentGrade}"></td>
								<td th:text="${std.userPhone}"></td>
								<td th:text="${std.studentAcaYn}"></td>
								<td>
									<input type="checkbox" name="stdchk" id="stdchk" onclick="stdset(this)"> 선택
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<div id="profList" style="display: none;">
			<div class="row justify-content-center">
				<div class="card p-3 me-3 border border-5">
					<div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
						<div
							class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
							<h6 class="text-white ps-3 m-0">매칭 가능한 교수 목록</h6>
						</div>
					</div>					
				<div class="table-responsive">
					<table class="table" id="matchingProf">
						<thead>
							<tr>
								<th>교번</th>
								<th>이름</th>
								<th>전공</th>
								<th>연구실</th>
								<th>담당 가능 학생 수</th>
								<th>매칭여부</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="Prof:${matchingProf}">
								<td th:text="${Prof.profId}"></td>
								<td th:text="${Prof.userName}"></td>
								<td th:text="${Prof.userDept}"></td>
								<td th:text="${Prof.profLab}"></td>
								<td th:text="${Prof.mentee}"></td>
								<td>
									<button class="btn btn-secondary prof">매칭</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>					
				</div>
			</div>
		</div>
	</div>

	<script>
		$("#matchingStd").DataTable({
			language : {
				lengthMenu : "페이지 당: _MENU_",
				search : "검색:",
				searchPlaceholder : "키워드를 입력하세요",
				zeroRecords : "검색결과가 없습니다",
				info : "_START_ - _END_ (전체: _MAX_건)",
				infoFiltered : "(검색결과: _TOTAL_건)",
				infoEmpty : "",
				paginate : {
					previous : "<",
	              next: ">",
				}
			}
		});
		$("#matchingProf").DataTable({
			language : {
				lengthMenu : "페이지 당: _MENU_",
				search : "검색:",
				searchPlaceholder : "키워드를 입력하세요",
				zeroRecords : "검색결과가 없습니다",
				info : "_START_ - _END_ (전체: _MAX_건)",
				infoFiltered : "(검색결과: _TOTAL_건)",
				infoEmpty : "",
				paginate : {
					previous : "<",
	              next: ">",
				}
			}
		}); 
		
		function stdset(t) {
			td = t.parentNode;
			td.style.backgroundColor = (t.checked) ? "lightgrey" : "";
			tr = t.parentNode.parentNode;			
			tr.style.backgroundColor = (t.checked) ? "lightgrey" : "";	
			var ctn = $('input[name=stdchk]:checked').length;
			if (ctn > 0) {
				$('#profList').show();
			} else {
				$('#profList').hide();
			}
		}

		function onDisplay(e) {
			e = window.event || e;
			$(".stdactive").css("backgroundColor", "")
			$(".stdactive").removeClass("stdactive")
			$(e.target).closest("tr").addClass("stdactive")
			$(e.target).closest("tr").css("backgroundColor", "lightgrey")
			$('#profList').show();
		}

// 		$(".prof").on("click", function() {			
// 			var matchingP = ($(this).closest("tr").find("td:first").text())
// 			var matchingS = ($(".stdactive").find("td:eq(1)").text())
// 			console.log(matchingP)
// 			console.log(matchingS)
// 			$(".Confirm").on("click", function() {
// 				$.ajax({
// 					type : "post",
// 					url : "/matching",
// 					data : {
// 						userId : matchingP,
// 						studentId : matchingS
// 					},
// 					success : function(result) {
// 						if (result == "1") {
// 							alert("매칭 완료")
// 							location.href = "matchingStd"
// 						}
// 					}	
// 				})		
// 			})
// 		});
		
		$(document).ready(function() {
			$('.prof').on('click', function() {
				var checkbox = $('input[name=stdchk]:checked');
				var stuctn = $('input[name=stdchk]:checked').length;
				var prof = ($(this).closest("tr").find("td:eq(0)").text())
	 			var Pmentee = ($(this).closest("tr").find("td:eq(4)").text())	 			
	 			var matchingArr = new Array();
				checkbox.each(function(i) {
					tr = checkbox.parent().parent().eq(i);
					td = tr.children();
					stuId = td.eq(0).text();					 
					matchingArr.push(stuId);
					jQuery.ajaxSettings.traditional = true;
				});				
				if (stuctn > Pmentee) {
					swal({
					    title: "매칭 불가!",
					    text: "교수가 담당 할 수 있는 학생의 수를 초과합니다",
					    icon: "error"
					})					
				} else {
					if(confirm('매칭을 진행하시겠습니까?')) {
						$.ajax({
		 					type : "post",
		 					url : "/matching",
		 					data : {
		 						"userId" : prof,
		 						"Id" : matchingArr
		 					},
		 					success : function(result) {
		 						if (result == "1") {
		 							swal({
									    title: "매칭 완료!",
									    text: "지도교수를 매칭하였습니다.",
									    type: "success"
									}).then(function() {
										location.href = "matchingStd";
									});
		 						}
		 					}	
		 				});							
					} else {
						return false;
					}  
				}
				
			});
		});
	</script>

	<!-- 본문 end-->
</th:block>
</html>