<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
	<style>
.pagination .active .page-link {
	background-color: #7b809a;
	border-color: #7b809a;
}

#page-link:focus {
	box-shadow: 0 0 0 0.2rem rgb(123 128 154/ 25%);
}

/* div#radio.col-md-3 { */
/* 	margin-left: -30px; */
/* 	margin-right: -60px; */
/* } */
</style>

	<!-- 상단 내비바 -->
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

	<!-- 본문 start -->
	<div class="container-fluid">
      <div class="row justify-content-center">
		<div class="card p-3 me-3">

				<!-- 각 페이지 타이틀바 -->
				<div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
					<div
						class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
						<h6 class="text-white ps-3 m-0">매칭이력</h6>
					</div>
				</div>
				<form action="matchingListInfo">
					<div class="row">
						<div class="col-md-2">
							<div class="input-group input-group-outline my-3">
								<label class="form-label"></label> <select class="form-control"
									name="userDept" id="userDept">
									<option value="">교수 전공 선택</option>
									<th:block th:each="mjr : ${majorb}">
										<option th:text="${mjr.majorName}" th:value="${mjr.majorName}"></option>
									</th:block>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="input-group input-group-outline my-3">
								<label class="form-label"></label> <select class="form-control"
									name="stdDept" id="stdDept">
									<option value="">학생 전공 선택</option>
									<th:block th:each="mjr : ${majorb}">
										<option th:text="${mjr.majorName}" th:value="${mjr.majorName}"></option>
									</th:block>
								</select>
							</div>
						</div>
						<div class="col-md-2" name="radio" id="radio">
							<div class="input-group input-group-outline my-3">
							<div class="form-check form-check-inline px-0 mx-4">
								<input class="form-check-input" type="radio" name="matchingType" value="0">
								<label class="custom-control-label fs-6 fw-bold mb-0">매칭중</label>
							</div>
							<div class="form-check form-check-inline px-0 mx-4">
								<input class="form-check-input" type="radio" name="matchingType" value="1">
								<label class="custom-control-label fs-6 fw-bold mb-0">매칭해지</label>
							</div>
							</div>							
						</div>
						<div class="col-md-2">
							<div class="input-group input-group-outline my-3">
								<button class="btn btn-secondary">조회</button>
							</div>
						</div>
					</div>
				</form>


				<table class="table" id="matchingTable" style="width: 100%">
					<thead>
						<tr>
							<th>매칭코드</th>
							<th>교수이름</th>
							<th>교수전공</th>
							<th>학생이름</th>
							<th>학생전공</th>
							<th>매칭구분</th>
							<th>매칭일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="matching:${matchingList}">
							<td th:text="${matching.matchingId}"></td>
							<td th:text="${matching.prName}"></td>
							<td th:text="${matching.prDept}"></td>
							<td th:text="${matching.stName}"></td>
							<td th:text="${matching.stDept}"></td>
							<td><span
								th:if="${matching.matchingType.toString().equals('0')}">매칭중</span>
								<span th:if="${matching.matchingType.toString().equals('1')}">매칭해지</span>
							</td>
							<td
								th:text="${#calendars.format(matching.matchingDate, 'yyyy-MM-dd')}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<script>
		$("#matchingTable").DataTable({
			language : {
				lengthMenu : "페이지 당: _MENU_",
				search : "검색:",
				searchPlaceholder : "키워드를 입력하세요",
				zeroRecords : "검색결과가 없습니다",
				info : "_START_ - _END_ (전체: _MAX_건)",
				infoFiltered : "(검색결과: _TOTAL_건)",
				infoEmpty : "",
				paginate : {
					previous : "<",
	              next: ">",
				}
			}
		});
	</script>

	<!-- 본문 end-->
</th:block>
</html>