<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">  

<th:block layout:fragment="content">	  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->
  <h1>매칭 이력</h1>
  <table class="table" id="matchingTable" style="width:100%">
	<thead>
		<tr>
			<th>매칭코드</th>
			<th>교수이름</th>
			<th>교수전공</th>
			<th>학생이름</th>
			<th>학생전공</th>
			<th>매칭구분</th>
			<th>매칭일</th>
		</tr>
	</thead>
	<tbody>	
		<tr th:each="matching:${matchingList}">
			<td th:text="${matching.matchingId}"></td>
			<td th:text="${matching.prName}"></td>
			<td th:text="${matching.prDept}"></td>
			<td th:text="${matching.stName}"></td>
			<td th:text="${matching.stDept}"></td>
			<td th:text="${#calendars.format(matching.matchingDate, 'yyyy-MM-dd')}"></td>
			<td th:text="${matching.matchingType}"></td>		
		</tr>
	</tbody>
   </table>
   
   <script>
   	$("#matchingTable").DataTable({ });
   </script>
      	  
  <!-- 본문 end-->
</th:block>	
</html>