<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
	<link rel="stylesheet"
		href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script
		src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	<style>
.stdactive {
	background-color: gray
}
</style>

	<!-- 상단 내비바 -->
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

	<!-- 본문 start -->
	<th:block th:each="matchingName:${matchingName}">
		<div class="container-fluid py-4">
			<div class="row">
				<h1>지도교수 변경 신청</h1>
				<form action="matchingChangeOrder" method="post">
					<div class="row">
						<div class="col-md-3">
							<div class="input-group input-group-outline my-3">
								<input th:value="${matchingName.userName}" type="text"
									id="userName" readonly="readonly">
							</div>
						</div>
						<div class="col-md-3">
							<div class="input-group input-group-outline my-3">
								<input th:value="${matchingName.stuId}" type="text" name="stuId"
									id="stuId" readonly="readonly">
							</div>
						</div>
						<div class="col-md-3">
							<div class="input-group input-group-outline my-3">
								<input th:value="${matchingName.profname}" type="text"
									id="profname" readonly="readonly">
							</div>
						</div>
						<div class="col-md-3">
							<div class="input-group input-group-outline my-3">
								<input th:value="${matchingName.studentProf}" type="text"
									name="profId" id="profId" readonly="readonly">
							</div>
						</div>
					</div>
					<div class="input-group input-group-outline my-3">
						<!-- 	      <label class="form-label">지도교수 변경사유</label> -->
						<textarea class="form-control" name="matchingChangeReason"
							id="matchingChangeReason" placeholder="지도교수 변경사유를 입력해주세요(미입력 불이익이 있을 수도 있습니다)"></textarea>
					</div>

					<div class="input-group input-group-outline my-3">
						<!-- 	      <label class="form-label">지도교수 지정</label> -->
						<input type="text" class="form-control" name="matchingWant"
							id="matchingWant"
							placeholder="변경을 원하는 지도교수를 선택해주세요. 미 선택시 무작위로 선별됩니다"
							readonly="readonly">
					</div>

					<div id="changeProgress">						
						<th:block th:each="cp:${changeProgress}">
							<table class="table text-center mb-0">
								<tr>
									<td class="table-secondary">진행 상황</td>
									<td><span
										th:if="${cp.matchingChangeYn.toString().equals('0')}">진행중</span>
										<span th:if="${cp.matchingChangeYn.toString().equals('1')}">승인</span>
										<span th:if="${cp.matchingChangeYn.toString().equals('2')}">거부</span>										
									</td>
								</tr>
								<tr th:if="${cp.matchingChangeYn.toString().equals('2')}">
									<td th:text="${cp.matchingChangeReject}"></td>
								</tr>
							</table>
						</th:block>
					</div>
			</div>
		</div>
			<button class="btn bg-gradient-primary" th:if="${matchingName.studentChangeStatus.toString().equals('0')}">변경 신청</button>
			<input type="button" class="btn bg-gradient-primary cancel" th:if="${matchingName.studentChangeStatus.toString().equals('1')}" value="신청 취소">
		</form>
		</div>
		<br>

		<div id="profList"
			th:if="${matchingName.studentChangeStatus.toString().equals('0')}">
			<h3>매칭 가능한 교수 목록</h3>
			<table class="table table-striped" id="matchingProf">
				<thead>
					<tr>
						<th>교번</th>
						<th>이름</th>
						<th>전공</th>
						<th>연구실</th>
						<th>담당 가능 학생 수</th>
						<th>선택</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="Prof:${matchingProf}">
						<td th:text="${Prof.profId}"></td>
						<td th:text="${Prof.userName}"></td>
						<td th:text="${Prof.userDept}"></td>
						<td th:text="${Prof.profLab}"></td>
						<td th:text="${Prof.mentee}"></td>
						<td>
							<button class="btn btn-primary" onclick="select()">선택</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
		</div>
	</th:block>

	<script>
		$("#matchingProf").DataTable({});

		function select(e) {
			e = window.event || e;
			$(".profactive").css("backgroundColor", "")
			$(".profactive").removeClass("profactive")
			$(e.target).closest("tr").addClass("profactive")
			$(e.target).closest("tr").css("backgroundColor", "aqua")

			let prof = document.getElementById('matchingWant')
			prof.value = ($(".profactive").find("td:first").text())

		}
		
		
		$(".cancel").on("click", function () {
			var id = document.getElementById("stuId").value;
			console.log(id)
			$.ajax({
				type : "POST",
				url : "/ChangeCancel",
				data : { delId : id	},
				success : function (result) {
					if (result == "1") {
						alert ("매칭 변경 신청 취소")
						document.location.href = document.location.href;
						}
					}
				});	
			});
		
		
	</script>
	<!-- 본문 end-->
</th:block>
</html>