<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">

	<!-- 상단 내비바 -->
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

	<!-- 본문 start -->
	<div class="row justify-content-center">
		<div class="card p-3 me-3 col-7">
			<!-- 각 페이지 타이틀바 -->
			<div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
				<div class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
					<h6 class="text-white ps-3 m-0">공지 수정</h6>
				</div>
			</div>

			<div class="container-fluid py-4">
				<div>
					<th:block th:if="${noticeList.NoticeUpdateDate} != null">
					</th:block>

					<div class="input-group input-group-outline my-3">
						<label class="form-label">제목</label> <input type="text" class="form-control" th:value="${noticeList.NoticeTitle}" name="NoticeTitle" id="NoticeTitle">
					</div>
				
						<div class="form-floating input-group input-group-dynamic mb-4 align-items-center">
							<textarea class="form-control" th:text="${noticeList.NoticeContent}" name="NoticeContent" id="NoticeContent"  style="height: 40vh" required></textarea>
							<label for="mtrLogContent">내용</label>
						</div>
					<button type="button" class="btn bg-gradient-secondary btn-sm m-1" onclick="modef();">수정</button>
					<button type="button" class="btn bg-gradient-secondary btn-sm m-1 backBtn">취소</button>
				</div>
			</div>
			<!-- 본문 end-->
			<script th:inline="javascript">
    /*<![CDATA[*/
			$('.input-group').addClass('is-filled')
    	$(".backBtn").on("click", function() {
			window.history.back();
		});
    	
    	var d = new Date();
	
		var month = d.getMonth()+1;
		var day = d.getDate();
		var time = (d.getHours()<10 ? '0' : '')+d.getHours()	+":"+(d.getMinutes()<10 ? '0' : '')+ d.getMinutes()
	
		var output = d.getFullYear() + '-' +
		    (month<10 ? '0' : '') + month + '-' +
		    (day<10 ? '0' : '') + day +" "+ time;
			
		
    	function modef(){
    		var id = /*[[${noticeList.noticeId}]]*/;
    		
			$.ajax({
				url : "/notice/noticemodify",
				type: "post",
				data : {
					NoticeTitle : $('#NoticeTitle').val(),
					NoticeContent : $('#NoticeContent').val(),
					NoticeId : id,
					NoticeUpdateDate : output,
					
					
				},
				success: function (result) {
					console.log(result)
					location.href='/notice/noticeView?NoticeId='+id;
				},
				error: function (result) {
					
				}
				
			})
			
		}    
    /*]]>*/
</script>

		</div>
</th:block>
</html>