<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	<!-- 상단 내비바 -->
	<style>
#layout1 {
	border: 1px soild #6a7281;
}


table td p {
	white-space: pre-line;
}
table {
	
}
pre{
    word-break: break-all;
    white-space: pre-line;
}
table.type09 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;

}
table.type09 thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
table.type09 tbody th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}
table.type09 td {
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}


</style>
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
	<!-- 본문 start -->
	<div class="container-fluid py-4 col-10">
		<div class="row justify-content-center">
			<div class="card p-3 me-3 col-12">
				<div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
					<div class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
						<h6 class="text-white ps-3 m-0">공지사항</h6>
					</div>
				</div>
				<table class="type09" style="table-layout:fixed;" >
					<tbody >
						<tr>
							<th class="th-default" width="15%" ><label class="label_default">제목</label></th>
							<td class="td-content" width="55%" height="auto"><p th:text="${noticeList.NoticeTitle}"></p></td>
							<th class="th-default" width="15%"><label class="label_default">조회수</label></th>
							<td class="td-content" width="15%" height="auto" ><p th:text="${noticeList.NoticeHit}"></p></td>

						</tr>
						<tr>
							<th:block th:if="${noticeList.noticeUpdateDate == null}">
								<th class="th-default"><label class="label_default">등록일</label></th>
								<td colspan="3" class="td-content" height="auto"><p>[[${noticeList.noticeDate}]]</p></td>
							</th:block>
							<th:block th:if="${noticeList.noticeUpdateDate != null}">
								<th class="th-default"><label class="label_default">수정일</label></th>
								<td colspan="3"  class="td-content" height="auto"><p>[[${noticeList.noticeUpdateDate}]]</p></td>
							</th:block>
						</tr>
						<tr>
							<th class="th-default"><label class="label_default">내용</label></td>
							<td colspan="3" width="70%" height="auto" style="word-break:break-all;"  class="td-content"><pre th:text="${noticeList.NoticeContent}"></pre></td>
						</tr>
						<!-- 본문 end-->
					</tbody>
				</table>
				<div>
					<button class="btn bg-gradient-secondary backBtn" style="width: 80px; margin-top: 10px; float: right;">목록</button>
					<th:block sec:authorize="hasRole('ROLE_ADMIN')">
						<button class="btn bg-gradient-secondary " style="width: 80px; margin: 10px; float: right;" type="button" onclick="del();">삭제</button>
						<button class="btn bg-gradient-secondary " style="width: 80px; margin-top: 10px; float: right;" type="button" onclick="mode();">수정</button>
					</th:block>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(".backBtn").on("click", function() {
			window.history.back();
		});
		
		
		
	</script>
	<script th:inline="javascript">
    /*<![CDATA[*/
    	$(function(){
    		let Alldate = /*[[${noticeList.NoticeDate}]]*/
    		let date = Alldate.substr(0,16)
    		let day = date.substr(0,10)
    		let time = date.substr(11)
    		$('#date').text(day + " "+ time)
    		
    	})
    	
    	
    function mode() {
        const page = /*[[${noticeList.NoticeId}]]*/;
    	console.log(page)

        location.href='/notice/noticemodify?NoticeId=' + page;
    }
    
   function del() {
	   const page = /*[[${noticeList.NoticeId}]]*/;
	   
	   Swal.fire({
			  title: '삭제',
			  text: "공지사항을 저장하시겠습니까?",
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonText: '삭제',
			  cancelButtonText: '취소'
			}).then((result) => {
				
			  if (result.isConfirmed) { 
				  $.ajax({
						url : "/notice/noticeDelete",
						type: "post",
						data : {
							NoticeId : page
						},
						success: function (result) {
							console.log(result)
							location.href="/notice/noticelist";
						},
						error: function (result) {
						}
					})
			  }})
    }
    /*]]>*/
</script>
</th:block>
</html>