<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>  
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
  <!-- 본문 start -->
  <style>
.pagination .active .page-link {
	background-color: #7b809a;
	border-color: #7b809a;
}

.page-link:focus {
	box-shadow: 0 0 0 0.2rem rgb(123 128 154/ 25%);
}

</style>
  
    <div class="container-fluid">
 <div class="row justify-content-center">
      <div class="card px-2 p-3 me-3 col-8">
      
        <!-- 각 페이지 타이틀바 -->
        <div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
          <div class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
            <h6 class="text-white ps-3 m-0">과제 확인 게시판</h6>
          </div>
        </div>

			<table id="quizTable" class="table" style="width:100%;" >
        <thead>
            <tr>
            	<th>강좌명</th>
            	<th>과제명</th>
            	<th>제출자 수</th>
            	<th>등록일</th>
            </tr>
        </thead>
        <tbody>
        	<input  th:value="${#authentication.principal.username}" type="hidden" id="userid">
        	<tr th:each="data : ${quizviewlist}">
        		<td th:text="${data.course_title}"></td>
        		<td>
        			<a th:text="${data.quiz_h_title}" th:href="@{/quizview(quizHSeq=${data.quiz_h_seq})}"></a>
        		</td>
        		<td>
        		<p th:text="|${data.quiz_d_cnt}/${data.class_to}|"></p>
        		</td>
        		<td th:text="${data.quiz_d_date}"></td>
        	</tr>
        </tbody>
  <!-- 본문 end-->
</table>
 </div>
 </div>
 </div>
 <script>
 	$('#quizTable').DataTable({
 		
 		language : {
			lengthMenu : "페이지 당: _MENU_",
			search : "검색:",
			searchPlaceholder : "키워드를 입력하세요",
			zeroRecords : "검색결과가 없습니다",
			info : "_START_ - _END_ (전체: _MAX_건)",
			infoFiltered : "(검색결과: _TOTAL_건)",
			infoEmpty : "",
			paginate : {
				previous : "<",
              next: ">",
			}
		}
 	});
 	
 	
 </script>
</th:block>
</html>