<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
  <!-- 본문 start -->
<div class="container-fluid py-4">
    <div class="row"> 
 <table id="quizTable" class="table table-striped" style="width:100%;" >
        <thead>
            <tr>
            	<th>학생명</th>
            	<th>제출내용</th>
            	<th>제출파일</th>
            	<th>제출일</th>
            </tr>
        </thead>
        <tbody>
        	<input  th:value="${#authentication.principal.username}" type="hidden" id="userid">
			<tr th:each="c : ${quiz}">
        		<td th:text="${c.userName}"></td>
        		<td>
        		<a  th:text="${c.quizRContent}" th:href="@{/quizdetailview(quizRId=${c.quizRId}, stuId=${c.stuId})}"></a>
        		<!-- 파라미터 하나 더 보내야 함 stu_id -->
        		
        		
        		</td>
        		<td>
        		<a th:text="${c.quizROrginal}" th:href="${'/quizdownload?quizHFile='+c.quizHFile}"></a>
        		</td>
        		<td th:text="${c.quizRDate}"></td>
        	</tr>
        </tbody>
  <!-- 본문 end-->
</table>
 </div>
 </div>
 <script>
 	$('#quizTable').DataTable({});
 </script>
</th:block>
</html>