<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
  <!-- 본문 start -->
    <div class="container-fluid">
 <div class="row justify-content-center">
      <div class="card p-3 me-3">
      
        <!-- 각 페이지 타이틀바 -->
        <div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
          <div class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
            <h6 class="text-white ps-3 m-0">과제 확인 게시판</h6>
          </div>
        </div>
 <table id="quizTable" class="table table-striped" style="width:100%;" >
        <thead>
            <tr>
            	<th>학생명</th>
            	<th>제출내용</th>
            	<th>제출파일</th>
            	<th>제출일</th>
            </tr>
        </thead>
        <tbody>
        	<input  th:value="${#authentication.principal.username}" type="hidden" id="userid">
			<tr th:each="c : ${quiz}">
        		<td th:text="${c.userName}"></td>
        		<td>
        		<a  th:text="${c.quizRContent}" th:href="@{/quizdetailview(quizRId=${c.quizRId}, stuId=${c.stuId})}"></a>
        		<!-- 파라미터 하나 더 보내야 함 stu_id -->
        		
        		
        		</td>
        		<td>
        		<a th:text="${c.quizROrginal}" th:href="${'/quizrdownload?quizRFile='+c.quizRFile}"></a>
        		</td>
        		<td th:text="${c.quizRDate}"></td>
        	</tr>
        </tbody>
  <!-- 본문 end-->
</table>
 </div>
 </div>
 </div>
 <script>
 	$('#quizTable').DataTable({});
 </script>
</th:block>
</html>