<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcy.users.mapper.UsersMapper">

<select id="stuInfo" resultType="CustomMap">
  select u.user_id, u.user_name, 
         s.student_grade, s.student_sem, substr(u.user_ssn,1,6) user_birth,
         u.user_dept, if(u.user_sex = 'f','여','남') user_sex, 
         s.student_aca_yn, u.user_nation,
         s.student_regdate, u.user_phone, 
         s.student_graddate, u.user_email,
         c.credit_total,
         u.user_pic
         
    from k_users u 
    join k_students s on (u.user_id = s.stu_id) 
    join k_credit c using (stu_id) 
    
   where u.user_id = #{param} <!-- get방식으로 파라미터 id 하나만 들어가므로 임의로 적어도 됨(예:param) -->
</select>


<select id="stuAcaInfo" resultType="CustomMap">
  select u.user_name, u.user_id,
         u.user_dept, u.user_phone,
         sa.aca_type, fn_terms(sa.aca_start) aca_start, fn_terms(sa.aca_end) aca_end, sa.aca_reason, 
         sa.aca_yn, sa.aca_reject, sa.aca_date, sa.aca_file
         
    from k_users u 
    join k_student_aca sa on (u.user_id = sa.stu_id)
    
   where u.user_id = #{param}
   order by sa.aca_date desc
</select>


<select id="stuAcaInsertForm" resultType="CustomMap">
  select sch_id, sch_start, sch_end, sch_title
  
    from k_schedule 
    
   where sch_type = 'SEMESTER' 
     and sch_start > now() 
     
   order by 1;
</select>


<insert id="stuAcaInsertProc" parameterType="map">
  insert into k_student_aca 
  values (
         default, 
         #{acaType},
         <if test="acaType == '휴학'">
           #{acaStart},
           #{acaEnd},
           #{acaReason},
           #{acaReasonD},
         </if>
         <if test="acaType == '복학'">
           #{returnStart},
           null,
           null,
           null,
         </if>
         <if test="acaType == '자퇴'">
           null,
           null,
           #{acaReason},
           #{acaReasonD},
         </if>
         "신청중",
         null,
         #{id},
         now(),
         null
         )

</insert>



</mapper>