<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcy.users.mapper.UsersMapper">
<!-- <select id="usersList" resultType="com.kcy.users.service.UsersVO"> -->
<!-- select * from k_users -->
<!-- where user_sex = #{userSex} -->
<!-- </select> -->

<select id="stuInfo" resultType="map">
  select u.user_id, u.user_name, 
  s.student_grade, s.student_sem, SUBSTR(u.user_ssn,1,6) user_birth,
  u.user_dept, u.user_sex, 
  s.student_aca_yn, u.user_nation,
  s.student_regdate, u.user_phone, 
  s.student_graddate, u.user_email,
  c.credit_total
  from k_users u join k_students s using(user_id) 
           join k_credit c using(user_id) 
  where u.user_id = #{param}

</select>

</mapper>