<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcy.lecture.mapper.EnrolmentMapper">
		
	<select id="EnrolmentList" resultType="map">
	
	select c.class_id, j.major_name, u.user_name, i.course_title, c.course_id, i.course_type, c.class_to, i.course_credit, c.class_syl
		from k_class  as c join k_class_member  as m
		on c.class_id = m.class_id
		join k_course as i on i.course_id = c.course_id
		join k_users  as u on u.user_id = c.prof_id  
		join k_major as j on j.major_id = i.major_id 
	WHERE m.stu_id  = #{userId};
	
	</select>

<insert id="EnrolmentInsert">
			insert into k_class_member(class_id,stu_id,class_member_id)
			select class_id,#{userId},NEXTVAL(class_member_seq)
			from k_class
			where class_id = #{classId};
	
	
</insert>


</mapper>