<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcy.lecture.mapper.LectureMapper">

		<insert id="LectureInsert">
			insert into k_class_reg
			
			values(
				   #{classId},
				   #{courseId},
				   #{profId},
				   #{classTo},
				   #{classYear},
				   #{classSem},
				   #{classSyl},
				   default,
				   #{classTitle}
				   )
		
		</insert>
		
		
		
		<select id="LectureList" resultType="com.kcy.lecture.service.LectureVO">
			select * from k_class_reg		
		</select>
		
		<update id="LectureUpdate" parameterType="com.kcy.lecture.service.LectureVO">
				
			UPDATE k_class_reg SET class_yn = 'y'
			WHERE class_id = #{classId}
			
		</update>
		
		<insert id="LectureInsertClass">
			insert into k_class(class_id, course_id, prof_id, class_to, class_year, class_sem, class_syl)
			select class_id, course_id, prof_id, class_to, class_year, class_sem, class_syl
			from k_class_reg
			where class_id = #{classId}
	
		</insert>
		
		<select id="OpenLectureList" resultType="com.kcy.lecture.service.OpenLectureVO">
			select * from k_class
			
		</select>
		
		<update id="OpenLectureUpdate" parameterType="com.kcy.lecture.service.OpenLectureVO">
		
				UPDATE k_class SET class_ck = '1'
				WHERE class_id = #{classId}
		
		</update>
	
</mapper>