<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml"
	xmlns:v-bind="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
<!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
<head>

<!-- CSS -->
<!-- <link rel="stylesheet"
	href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css"> -->

</head>
<body>
	<div class="container" id="app" v-cloak>
		<div class="row">
			<div class="col-md-12">
				<h3>채팅방 리스트</h3>
			</div>
		</div>
		<div class="input-group">
			<input type="text" id="userId" class="form-control" th:value="${#authentication.name}">
			<input type="text" id="userType" class="form-control">
			<input type="text" id="userName" class="form-control" >
		</div>
		<ul class="list-group">
			<li class="list-group-item list-group-item-action"
				v-for="item in chatrooms" v-bind:key="item.roomId" :value="item.roomName"
				v-on:click="enterRoom(item.roomId,item.roomName)">{{item.roomName}}</li>
		</ul>
	</div>
	<!-- JavaScript -->
	<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
	<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
	<script>
    var vm = new Vue({
        el: '#app',
        data: {
            room_name : '',
            chatrooms: [
            ]
        },
        created() {
            this.findAllRoom();
            axios.get('/userInfo').then(response => { 
            	console.log(response)
            	var name = response.data.userName;
            	$('#userName').val(response.data.userName) 
            	$('#userType').val(response.data.userType) 
            	}
            );
        },
        methods: {
            findAllRoom: function() {
                axios.get('/chat/rooms').then(response => { this.chatrooms = response.data; });
            },
            
            enterRoom: function(roomId,roomName) {
            	var id = roomName.substring(roomName.indexOf("(")+1,roomName.indexOf(")"));
                var userId = $('#userId').val();
                var sender = $('#userName').val();
                var type = $('#userType').val();
                if(userId == id || type == "ROLE_PROF") {
                	
                    localStorage.setItem('wschat.sender',sender);
                    localStorage.setItem('wschat.roomId',roomId);
                    localStorage.setItem('wschat.roomName',id);
                    location.href="/chat/room/enter/"+roomId;
                }else {
                	alert('허락되지 않은 사용자입니다.')
                }
            }
        }
    });
</script>
</th:block>
</body>
</html>