<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<th:block th:fragment="navbarFragment">

<style>
  #qm a:hover {
    color: black;
    background-color: lightgray;
    border-radius: 0.375rem;
/*     transition: 0.3s; */
  }

</style>

<script th:inline="javascript">
$(function(){
  let soMenu = $('#sidenav-collapse-main .collapse a');
  let myId = [[${#authentication.name}]];
  soMenu.on('click', function () {
    let qm1 = Cookies.get(myId + '-qm1');
    let qm2 = Cookies.get(myId + '-qm2');
    let qm3 = Cookies.get(myId + '-qm3');
    
    if( this.text == qm1 ) {
      Cookies.set(myId + '-qm1', this.text);
    } else if ( this.text == qm2 ) {
      Cookies.set(myId + '-qm1', this.text);
      Cookies.set(myId + '-qm2', qm1);
    } else {
      Cookies.set(myId + '-qm1', this.text);
      Cookies.set(myId + '-qm2', qm1);
      Cookies.set(myId + '-qm3', qm2);
    }
      
  })
})
</script>
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg mx-1 mt-3 mb-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid">
    
      <nav id="qm">
        <ul class="navbar-nav align-items-center">
          <li>
            <h6 class="my-0 me-2">퀵메뉴 <i class="fa-solid fa-square-caret-right"></i></h6>
          </li>
          <li>
              <a class="fw-bold" id="qm1"></a>
          </li>
          <li>
              <a class="fw-bold" id="qm2"></a>
          </li>
          <li>
              <a class="fw-bold" id="qm3"></a>
          </li>
        </ul>
        <script th:inline="javascript">
          let myId = [[${#authentication.name}]];
          let qm1 = Cookies.get(myId + '-qm1');
          let qm2 = Cookies.get(myId + '-qm2');
          let qm3 = Cookies.get(myId + '-qm3');
          if (qm1 && qm1 != 'undefined') {
            $('#qm1').text(qm1);
            $('#qm1').prop('href',$('a:contains('+qm1+')').prop('href'));
            $('#qm1').addClass('p-2'); // 원 html에 박아놓으면 공란일때 hover공간 보여서(버그느낌), 퀵메뉴 생성 시 클래스 삽입하기로 함
            $('#qm1').parent().append('|'); // 마찬가지로 퀵메뉴 생성시에 구분선 추가
          }
          if (qm2 && qm2 != 'undefined') {
            $('#qm2').text(qm2);
            $('#qm2').prop('href',$('a:contains('+qm2+')').prop('href'));
            $('#qm2').addClass('p-2');
            $('#qm2').parent().append('|');
          }
          if (qm3 && qm3 != 'undefined') {
            $('#qm3').text(qm3);
            $('#qm3').prop('href',$('a:contains('+qm3+')').prop('href'));
            $('#qm3').addClass('p-2');
          }
        </script>
      </nav>
    
    
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ms-auto justify-content-end">
        
          <li class="nav-item d-flex align-items-center">
            <span class="me-2" id="myName"></span>
            <script th:inline="javascript">
              let myName = [[${#authentication.principal.myName}]]
              
              if (myName) {
                $('#myName').text('환영합니다, ' + myName + '님')
              } 
              
              // LayoutController에서 값 넘겨받아서 세션스토리지 활용하는 방식(→꾸질해서 방식 바꿈)
//               let myName = [[${myName}]]
//               if(sessionStorage.getItem("myName") != null) {
//                 $('#myName').text('환영합니다, ' + sessionStorage.getItem("myName") + '님');
//               } else if (myName != null) {
//                 sessionStorage.setItem("myName", myName);
//                 $('#myName').text('환영합니다, ' + sessionStorage.getItem("myName") + '님');
//               }
            </script>
            <h6 class="font-weight-bolder mb-0" sec:authorize="hasRole('ROLE_STU')">[학생]&nbsp;</h6>
            <h6 class="font-weight-bolder mb-0" sec:authorize="hasRole('ROLE_PROF')">[교수]&nbsp;</h6>
            <h6 class="font-weight-bolder mb-0" sec:authorize="hasRole('ROLE_ADMIN')">[행정처]&nbsp;</h6>
          </li>
          
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar --></th:block>
</html>