<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">



  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
      aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="/">
      <img src="/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold text-white">KCY학사관리</span>
    </a>
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
    <ul class="navbar-nav">
    
    
      <li class="nav-item">
        <a class="nav-link text-white btn btn-secondary" data-bs-toggle="collapse" href="#userMgr">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">dashboard</i>
          </div>
          <span class="nav-link-text ms-1">학적관리</span>
        </a>
      </li>

      <div class="collapse" id="userMgr">
        <div class="card card-body">
          <a href="stuInfo">학적조회</a>
          <a href="stuAcaInsert">학적변동 신청</a>
          <a href="stuAcaInfo">학적변동 이력</a>
          
          
          <!-- url에 id를 달아서 get요청 받도록 설정한 경우 작성방식
              (사실 생각해보면 이렇게 할 이유가 전혀 없다! 하면 안 됨!
              왜냐면 url에 수동으로 /학번 달아버리면 자기계정 말고 다른 사람 계정 정보도 다 볼 수 있으니까!
              그걸 해소하려면 컨트롤러단에서 세션id와 url에 수동기입한 학번을 대조해서 일치할 경우만 정상 진행되게 처리해야 함.
              당연히 스프링 시큐리티에서 자체적으로 그런 처리에 관한 서비스를 제공해주지 않는다. 왜냐면 아무도 바보같이 그렇게 안 할 테니까. 
              그야말로 불필요한 코딩작업이 추가 발생하는 것임.
              걍 애초에 url에 id 다는 식으로 하지말고 걍 심플하게 공통 요청 url (예: "/stuInfo")로만 받고,
              모델에 id값을 넘겨야할 필요가 있을 시에는
              컨트롤러 단에서 pirincipal이나 @AuthenticationPrincipal 등의 객체를 이용하여 세션id를 직접 service또는 mapper에 바로 태워주면 된다!!
              그래도 타임리프 th:href 문법 학습을 위해 여기 작성 방식은 남겨놓는다.)
               -->
            <!-- (PathVariable미사용시) 작성방법1 -->
<!--           <a th:href="@{ '/stuAcaInfo?id='+ ${#authentication.name} }">학적변동 이력</a> -->

            <!-- (PathVariable미사용시) 작성방법2 -->
<!--           <a th:href="@{ /stuAcaInfo(id=${#authentication.name}) }">학적변동 이력</a> -->
          
            <!-- (PathVariable사용시) 작성방법: 변수기능을 활용한다! 변수 여러개 선언도 가능! {var1}/{var2}.. -->
<!--           <a th:href="@{ /stuAcaInfo/{var}(var=${#authentication.name}) }">학적변동 이력</a> -->
          
          <a href="#">졸업요건 확인</a>
          <a href="#">증명서 출력</a>
        </div>
      </div>



      <li class="nav-item">
        <a class="nav-link text-white btn btn-secondary" data-bs-toggle="collapse" href="#classMgr" role="button" aria-expanded="false" aria-controls="classMgr">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">dashboard</i>
          </div>
          <span class="nav-link-text ms-1">강의관리</span>
        </a>
      </li>
      
      <div class="collapse" id="classMgr">
        <div class="card card-body">
          <a href="/openlecturelist">수강신청</a>
          <a href="#">담당학생 확인</a>
          <a href="#">강의 시간표 조회</a>
          <a href="/noticelist">공지 및 강의자료</a>
          <a href="/quizlist">과제 게시판</a>
          <a href="#">만족도 평가</a>
          <br> ---- 교수 전용 메뉴 --- <br>
          <a href="/quizinsert">과제 등록</a>
          <a href="/noticeinsert">공지 및 자료 등록</a>
          <a href="/quizviewlist">과제 확인 페이지</a>
          <a href="/lectureinsert">강의 개설 신청</a>
          <a href="#">성적 입력</a>
          <a href="#">만족도 평가 열람</a>
          <br> ---- 행정 전용 메뉴 --- <br>
          <a href="/lecturelist">강의 개설 승인</a>
        </div>
      </div>


      <li class="nav-item">
        <a class="nav-link text-white btn btn-secondary" data-bs-toggle="collapse" href="#billMgr">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">dashboard</i>
          </div>
          <span class="nav-link-text ms-1">등록금 관리</span>
        </a>
      </li>
      
      <div class="collapse" id="billMgr">
        <div class="card card-body">
          <a href="/billsInsert">등록금 고지서 등록</a>
        </div>
      </div>



      <li class="nav-item">
        <a class="nav-link text-white btn btn-secondary" data-bs-toggle="collapse" href="#mentorMgr" role="button" aria-expanded="false" aria-controls="mentorMgr">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">dashboard</i>
          </div>
          <span class="nav-link-text ms-1">상담관리</span>
        </a>
      </li>
      
      <div class="collapse" id="mentorMgr">
        <div class="card card-body">
          <a href="/matchingStd">지도교수 매칭</a>
          <a href="/matchingList">매칭이력 관리</a>
          <a href="#">담당교수 확인</a>
          <a href="#">담당학생 확인</a>
          <a href="#">상담스케줄</a>
          <a href="#">진로탐색 검사</a>
          <a href="#">진로탐색 검사 관리</a>
          <a href="#">상담신청</a>
          <a href="/chat/room">채팅</a>
          <a href="#">상담일지</a>
        </div>
      </div>




      <li class="nav-item">
        <a class="nav-link text-white " th:classappend="${active} == 'click_login' ? 'active bg-gradient-primary'" href="/login">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">login</i>
          </div>
          <span class="nav-link-text ms-1">Sign In</span>
        </a>
      </li>
      
      
      
      <li class="nav-item">
        <a class="nav-link text-white " href="/doLogout">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">assignment</i>
          </div>
          <span class="nav-link-text ms-1">Logout</span>
        </a>
      </li>
    </ul>
  </div>
  
  <!-- 
  <div class="sidenav-footer position-absolute w-100 bottom-0 ">
    <div class="mx-3">
      <a class="btn bg-gradient-primary mt-4 w-100"
        href="https://www.creative-tim.com/product/material-dashboard-pro?ref=sidebarfree" type="button">Upgrade to
        pro</a>
    </div>
  </div>
  -->

</th:block>




</html>