<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">

  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
  <!-- 본문 start -->
  
<div class="container-fluid py-4">
    <div class="row"> 
      <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background: #fc9209">
              <h6 class="text-white text-capitalize ps-3">강좌신청 승인</h6>
              <input  th:value="${#authentication.principal.username}" type="hidden" id="userid">
            </div>
          </div>
                  	<form action="scoreInsert" method="post">
 <table id="letureTable" class="table align-items-center mb-0" >
        <thead>
            <tr>
            	<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">성명/학번</th>
            	<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">학과/학년</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">학기/상태</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">중간</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">기말</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">과제</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">출석</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">등급</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">총점</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">등록</th>
            </tr>
        </thead>
        <tbody>
        	 <tr th:each="data: ${memberlist}">
        	    <input type="hidden" class="classId" th:value="${data.classId}" />
        	    <input type="hidden" class="classMemberId" th:value="${data.classMemberId}" />
        		<td th:text="|${data.userName}/${data.stuId}|"></td>
        		<td th:text="|${data.userDept}/${data.studentGrade}학년|"></td>
        		<td th:text="|${data.studentSem}학기/${data.studentAcaYn}|"></td>
        		<td><input class="form-control jt_form_field wt500 scoreMid" type="text" th:id="scoreMid" th:name="scoreMid" /></td>
        		<td><input class="form-control jt_form_field wt500 scoreFinal" type="text" th:id="scoreFinal" th:name="scoreFinal" /></td>
        		<td><input class="form-control jt_form_field wt500 scoreQuiz" type="text" th:value="${data.quizRPoint}" th:id="scoreQuiz" th:name="scoreQuiz" /></td>
        		<td><input class="form-control jt_form_field wt500 scoreAttn" type="text" th:id="scoreAttn" th:name="scoreAttn" /></td>
        		<td><input class="form-control" th:name="gpaGrade" readonly="readonly" th:id="gpaGrade" /></td>
        		<td><input class="form-control jt_form_field wt500" type="text" readonly="readonly" th:id="gpaPoint" th:name="gpaPoint" /></td>
        		<td><button type="button" class="btn bg-gradient-primary" th:data-hello="${data.classMemberId}" th:data-classid="${data.classId}" th:data-scoreid="${data.scoreId}">등록</button></td>
        	</tr> 
        	
        </tbody>
        
  <!-- 본문 end-->
</table>
</form>
</div>
 </div>
 </div>
<script>
$('#letureTable').DataTable({});
$(".btn").on("click", submitData);
	
$(".scoreMid, .scoreFinal, .scoreQuiz, .scoreAttn").on("change input paste", function() {
	
	var tr = $(this).closest("tr");
	var scoreMid = fnReplace(tr.find("#scoreMid").val());
	var scoreFinal = fnReplace(tr.find("#scoreFinal").val());
	var scoreQuiz = fnReplace(tr.find("#scoreQuiz").val());
	var scoreAttn = fnReplace(tr.find("#scoreAttn").val());
	var grade = "";
	var gpaPoint = tr.find("#gpaPoint").val((scoreMid + scoreFinal + scoreQuiz + scoreAttn) / 4);
	var gpaGrade = tr.find("#gpaGrade").val(grade);
	var point = parseInt(gpaPoint.val());
/*	
	switch(point) {
	case 10:
		grade = "A+";
	case 9:
		if(gpaPoint % 10 >= 5) {
			grade = "A+";			
		}
		if(gpaPoint % 10 < 5) {
			grade = "A";
		}
		break;
	case 8:
		grade = "B+"
		break;
	case 7:
		grade = "B"
		break;
	case 6:
		grade = "C+"
		break;
	default:
		grade = "F";
		break;
	}
	*/
	
	console.log(point);
	
	if(point >= 95 && point <= 100) {
		grade = "A+";
	} else if(point >= 90 && point < 95) {
		grade = "A";
	} else if(point >= 85 && point < 90) {
		grade = "B+";
	} else if(point >= 80 && point < 85) {
		grade = "B";
	} else if(point >= 75 && point < 80) {
		grade = "C+";
	} else if(point >= 70 && point < 75) {
		grade = "C";
	} else if(point >= 0 && point < 70){
		grade = "F";
	}
	
	console.log(grade);
	
	var gpaGrade = tr.find("#gpaGrade").val(grade);
	
});

function submitData() {
	
	var tr = $(".scoreMid, .scoreFinal, .scoreQuiz, .scoreAttn").closest("tr");
	let scoreMid = fnReplace(tr.find("#scoreMid").val());
	let scoreFinal = fnReplace(tr.find("#scoreFinal").val());
	let scoreQuiz = fnReplace(tr.find("#scoreQuiz").val());
	let scoreAttn = fnReplace(tr.find("#scoreAttn").val());
	let gpaPoint = fnReplace(tr.find("#gpaPoint").val());
	let classMemberId = $(this).data("hello");
	let classId = $(this).data("classid");
	let scoreId = $(this).data("scoreid");
	var gpaGrade = tr.find("#gpaGrade").val();
	
	console.log(gpaGrade);
	console.log(gpaPoint);
	console.log(classId)
	
	$.ajax({
		url: "http://localhost/scoreinsert",
		type: "post",
		data: {
			classId: classId,
			classMemberId: classMemberId,
			scoreMid: scoreMid,
			scoreFinal: scoreFinal,
			scoreQuiz: scoreQuiz,
			scoreAttn: scoreAttn,
			
			scoreId: scoreId,
			
			gpaPoint: gpaPoint,
			gpaGrade: gpaGrade
		},
		success:function(data) {
			alert("성적 등록 완료");
		}
	});
	
}

function fnReplace(val) {
	var ret = 0;
	if(typeof val != "undefined" && val != null && val != "") {
		ret = Number(val.replace(/,/gi,''));
	}
	return ret;
}



</script>
</th:block>
</html>