<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
	<style>

	
	</style>
<link href="../css/classScheduleCheck.css" rel="stylesheet">
	<!-- 상단 내비바 -->
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
	<!-- 본문 start -->

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="card p-3 me-3 col-10">

				<!-- 각 페이지 타이틀바 -->
				<div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
					<div
						class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
						<h6 class="text-white ps-3 m-0">강의시간표</h6>
					</div>
				</div>
				<section id="timetable">
					<div class="container">
						<ol class="test">
							<li ></li>
							<li><h2 class="class-days-title">월요일</h2></li>
							<li><h2 class="class-days-title">화요일</h2></li>
							<li><h2 class="class-days-title">수요일</h2></li>
							<li><h2 class="class-days-title">목요일</h2></li>
							<li><h2 class="class-days-title">금요일</h2></li>
						</ol>
						<ol class="timetable">
							<li><h3 class="class-days-title">1교시</h3><span class="class-time">09:00~09:50</span> </li>

							<li><h3 class="class-days-title">2교시</h3><span class="class-time">10:00~10:50</span> </li>

							<li><h3 class="class-days-title">3교시</h3><span class="class-time">11:00~11:50</span> </li>

							<li><h3 class="class-days-title">4교시</h3><span class="class-time">12:00~12:50</span> </li>

							<li><h3 class="class-days-title">5교시</h3><span class="class-time">14:00~14:50</span> </li>

							<li><h3>6교시</h3><span class="class-time">15:00~15:50</span> </li>

							<li><h3>7교시</h3><span class="class-time">16:00~16:50</span> </li>

							<li><h3>8교시</h3><span class="class-time">17:00~17:50</span> </li>
							
								<th:block th:each="list,index: ${scheduleAllSelect}">
							<li th:classappend="${index.index<10}?'T100'+${index.index}:'T10'+${index.index}" class="danceclass blue p-2">

								</li>
								</th:block>

						
						</ol>
					</div>
				</section>
			</div>
		</div>
	</div>
	<script  th:inline="javascript">
		
	[# th:each="list:${scheduleSelect}"]
	 console.log([[${list.class_timetable_id}]])
		var test1 = `
			<span class="class-title">[(${list.course_title})]수업</span>
			<span class="class-teacher">강의실:[(${list.room_building})] [(${list.room_no})]호</span>
			<span class="class-teacher">교수:[(${list.user_name})]</span>
			`
			$('.'+[[${list.class_timetable_id}]]).append(test1)
			$('.'+[[${list.class_timetable_id}]]).addClass("danceclass blue-light")
	[/] 
	
		
</script>

</th:block>
</html>