<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">

  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
  <!-- 본문 start -->
  
<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background: #fc9209">
              <h6 class="text-white text-capitalize ps-3">교직원평가</h6>
              <input  th:value="${#authentication.principal.username}" type="hidden" id="userid">
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0" style="text-align: center;">
        <thead>
            <tr>
            	<th>문항</th>
            	<th>매우좋음</th>
     			<th>좋음</th>
            	<th>보통이다</th>
            	<th>별로다</th>
            	<th>매우 별로다</th>
            </tr>
        </thead>
        <tbody>
        	<tr th:each="data,index : ${evaluation}">
        		<td th:text="${data.profQContent}" style="text-align: left;"></td>
        		<td><input type="radio" th:name="|evaluation${index.index}|" th:value="매우좋음"></td>
        		<td><input type="radio" th:name="|evaluation${index.index}|" th:value="좋음"></td>
        		<td><input type="radio" th:name="|evaluation${index.index}|" th:value="보통이다"></td>
        		<td><input type="radio" th:name="|evaluation${index.index}|" th:value="별로다"></td>
        		<td><input type="radio" th:name="|evaluation${index.index}|" th:value="매우별로다"></td>
        	</tr>
        </tbody>
        </table>
        <input type="hidden" th:value="${classId}" class="cid">
        <input  th:value="${#authentication.principal.username}" type="hidden" id="userid">
        <button class="btn bg-gradient-warning btn-sm" id="btn"  th:text="제출하기"</button>
            </div>
          </div>
        </div>
      </div>
    </div>
<script>
	
	
		$("#btn").on("click",submitData)
		
		function submitData(){
			let evaluation0 = $("input[name='evaluation0']:checked").val()
			let evaluation1 = $("input[name='evaluation1']:checked").val()
			let evaluation2 = $("input[name='evaluation2']:checked").val()
			let evaluation3 = $("input[name='evaluation3']:checked").val()
			let evaluation4 = $("input[name='evaluation4']:checked").val()
			let evaluation5 = $("input[name='evaluation5']:checked").val()
			let evaluation6 = $("input[name='evaluation6']:checked").val()
			let id = $("#userid").val()
			let cid = $(".cid").val()
			
			$.ajax({
				url:"http://localhost/evaluationinsert",
				type:"post",
				data:{
					evaluation0,evaluation1 ,evaluation2,evaluation3,evaluation4,evaluation5,evaluation6,
				    classId: cid
					
				},
				success:function(data){
					alert("제출완료..제발")
					location.href("/evaluationtotallist")
				}
			})
		}
		
		

</script>
</th:block>
</html>