<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
      
<th:block layout:fragment="content">

  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->
  <div class="container-fluid py-4">
    <div class="row">
 		<h1>강좌개설 페이지</h1>
 		
 		<form action="lectureinsert" method="post" enctype="multipart/form-data">
 		
 	 <div class="input-group input-group-outline my-3">
      <label class="form-label">제목</label>
      <input type="text" class="form-control" name="classTitle">
    </div>	
 		
    <div class="input-group input-group-outline my-3">
      <label class="form-label">강좌코드</label>
      <input type="text" class="form-control" name="classId">
    </div>
    
    
   <div class="input-group input-group-static mb-4">
  
    <select class="form-control" name="courseId" id="courseId">
    	<option value="">교과목 선택</option>
    	<th:block  th:each="course : ${course}">
    	<option th:text="${course.courseTitle}" th:value="${course.courseId}"></option>
    	</th:block>
    </select>
    </div>
    
    <div class="input-group input-group-outline my-3">
      <label class="form-label">교번</label>
      <input type="text" class="form-control" name="profId">
    </div>
    
    <div class="input-group input-group-outline my-3">
      <label class="form-label">정원</label>
      <input type="number" class="form-control" name="classTo">
    </div>
    
    <div class="input-group input-group-outline my-3">
      <label class="form-label">개설연도</label>
      <input type="number" class="form-control" name="classYear">
    </div>
    
    <div class="input-group input-group-outline my-3">
      <label class="form-label">개설학기</label>
      <input type="number" class="form-control" name="classSem">
    </div>
    <div class="input-group input-group-outline my-3">
      <label class="form-label">강의계획서</label>
      <input type="file" class="form-control" multiple="multiple" name="classFileSyl">
      <input type="hidden" class="form-control" multiple="multiple" name="classSylOriginal">
    </div>
    
    <button class="btn bg-gradient-primary">신청하기</button>
</form>
    </div>
    </div>
  <!-- 본문 end-->


</th:block>
</html>