<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
	<style>
.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.test {
	display: flex;
	justify-content: flex-start;
}
</style>

	<!-- CSS only -->
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
		crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		crossorigin="anonymous"></script>
	<!-- 상단 내비바 -->
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

	<!-- 본문 start -->
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="card p-3 me-4 col-8">
				<!-- 각 페이지 타이틀바 -->
				<div class="card-header p-0 position-relative mt-n4 mb-2 z-index-2">
					<div
						class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
						<h6 class="text-white ps-3 m-0">페이지명</h6>
					</div>
				</div>
				<form action="lectureinsert" method="post">
					<div class="test">
						<select class="form-select" name="courseId" id="courseId"
							style="width: 200px">
							<option value="">교과목 선택</option>
							<th:block th:each="course : ${course}">
								<option th:text="${course.courseTitle}"
									th:value="${course.courseId}"></option>
							</th:block>
						</select> <select class="form-select" name="classSem" style="width: 200px">
							<option>학기 선택</option>
							<option th:text="1학기" th:value=1></option>
							<option th:text="2학기" th:value=2></option>
						</select>
					</div>


					<div class="input-group input-group-outline my-3">
						<input type="text" class="form-control" name="classTitle"
							placeholder="제목입력">
					</div>

					<div class="input-group input-group-outline my-3">
						<input type="file" class="form-control" multiple="multiple"
							name="classFileSyl"> <input type="hidden"
							class="form-control" multiple="multiple" name="classSylOriginal">
					</div>

					<div class="input-group input-group-outline my-3">
						<input type="number" class="form-control" name="classTo"
							placeholder="정원입력">
					</div>


					<input type="hidden" class="form-control" name="profId"
						th:value="${#authentication.principal.username}">






					<div class="flex">
						<div class="col-md-5">
							<label for="mid" class="form-label ">중간</label> <input
								type="number" class="form-control" placeholder="중간비율"
								name="gpaStandardMid">
						</div>
						<div class="col-md-5">
							<label for="final" class="form-label">기말</label> <input
								type="number" class="form-control" placeholder="기말비율"
								name="gpaStandardFinal">
						</div>
						<div class="col-md-5">
							<label for="quiz" class="form-label">과제</label> <input
								type="number" class="form-control" placeholder="과제비율"
								name="gpaStandardQuiz">
						</div>
						<div class="col-md-5">
							<label for="attn" class="form-label">출석</label> <input
								type="number" class="form-control" placeholder="출석비율"
								name="gpaStandardAttn">
						</div>
					</div>
					<br>
					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<button class="btn btn-secondary me-md-2">신청하기</button>
					</div>
				</form>
				</div>
		</div>
		</div>
		<!-- 본문 end-->

		</script>
</th:block>
</html>