<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
	<!-- 토스터 -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
		integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
		integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<style>
.pagination .active .page-link {
	background-color: #7b809a;
	border-color: #7b809a;
}

.page-link:focus {
	box-shadow: 0 0 0 0.2rem rgb(123 128 154/ 25%);
}
</style>
	<!-- 상단 내비바 -->
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
	<!-- 본문 start -->

	<div class="container-fluid">

		<div class="row justify-content-center">
			<div class="card p-3 me-3">

				<!-- 각 페이지 타이틀바 -->
				<div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
					<div
						class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
						<h6 class="text-white ps-3 m-0">페이지명</h6>
					</div>
					</div>
					<table id="letureTable" class="table align-items-center mb-0 table-hover">
						<thead>
							<tr>
								<th
									class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">제목</th>
								<th
									class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">교과명</th>
								<th
									class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">교수</th>
								<th
									class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">교번</th>
								<th
									class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">학점</th>
								<th
									class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">정원</th>
								<th
									class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">학기</th>
								<th
									class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">계획서</th>
								<th
									class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">시간표/강의실</th>
								<th
									class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">승인확인</th>

							</tr>
						</thead>
						<tbody>

							<tr th:each="data : ${ltrList}" th:if="${data.classYn} == 'n'">
								<td th:text="${data.classTitle}"></td>
								<td th:text="${data.courseTitle}"></td>
								<td th:text="${data.userName}"></td>
								<td th:text="${data.profId}"></td>
								<td th:text="${data.courseCredit}"></td>
								<td th:text="${data.classTo}"></td>
								<td th:text="${data.classSem}"></td>
								<td><a th:href="${'/download?classSyl='+data.classSyl}"
									th:text="${data.classSylOriginal}"></a></td>
									
									
								<td><button type="button"
										class="btn btn btn-secondary btn-sm" data-bs-toggle="modal"
										data-bs-target="#schedule"
										th:data-schedule_class_id="${data.classId}"
										th:data-test="${data.courseCredit}">시간표/강의실</button></td>

								<td><button type="button"
										class="btn btn btn-secondary btn-sm" data-bs-toggle="modal"
										data-bs-target="#approval" th:text="승인"
										th:data-class_id="${data.classId}"></button></td>
							</tr>
						</tbody>
						<!-- 본문 end-->
					</table>

				</div>
				<!-- Button trigger modal -->


				<!-- 시간표Modal -->
				<div class="modal fade" id="schedule" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title font-weight-normal"
									id="exampleModalLabel">강의시간표/강의실</h5>
								<button type="button" class="btn-close text-dark"
									data-bs-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<th:block th:each="schedule :${schedule}">
									<button class="btn btn btn-secondary btn-sm test"
										th:text="${schedule.scheduleTitle}"
										th:data-test_ck="${schedule.classTimetableDays}"></button>
								</th:block>

								<select class="roomId">
									<option value="">강의실 선택</option>
									<th:block th:each="room : ${room}">
										<option
											th:text="|${room.roomBuilding}${room.roomNo}호 ${room.roomId}|"
											th:value="${room.roomId}"></option>
									</th:block>
								</select>

							</div>
							<div class="modal-body" id="test"></div>


							<div class="modal-footer">
								<button type="button" class="btn btn btn-secondary btn-sm"
									data-bs-dismiss="modal">취소</button>
								<button type="button" class="btn btn-danger btn-sm"
									id="scheduleInsert">확인</button>
							</div>
						</div>
					</div>
				</div>
				<!-- 승인여부 -->
				<div class="modal fade" id="approval" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title font-weight-normal"
									id="exampleModalLabel">승인여부</h5>
								<button type="button" class="btn-close text-dark"
									data-bs-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">정말로 승인 하시겠습니까?</div>
							<div class="modal-footer">
								<button type="button" class="btn btn btn-secondary btn-sm"
									data-bs-dismiss="modal">취소</button>
								<button class="btn btn-danger btn-sm btn1" th:text="확인"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<script>
		$('#letureTable').DataTable({
			language : {
				lengthMenu : "페이지 당: _MENU_",
				search : "검색:",
				searchPlaceholder : "키워드를 입력하세요",
				zeroRecords : "검색결과가 없습니다",
				info : "_START_ - _END_ (전체: _MAX_건)",
				infoFiltered : "(검색결과: _TOTAL_건)",
				infoEmpty : "",
				paginate : {
					previous : "<",
	                next: ">",
				}
			}
		});

		var classId = ""
		var courseCredit = ""
		$(document).ready(function() {
			$('#schedule').on('show.bs.modal', function(event) {
				classId = $(event.relatedTarget).data('schedule_class_id');
				console.log(classId);
				courseCredit = $(event.relatedTarget).data('test');
				console.log(courseCredit)
			});
			$('#approval').on('show.bs.modal', function(event) {
				classId = $(event.relatedTarget).data('class_id');
				console.log(classId);
			});
		});

		$(".test").on("click", schedule);
		$(".btn1").on("click", letureApproval);
		$("#scheduleInsert").on("click", scheduleInsert)

		function letureApproval() {
			$.ajax({
				url : "http://localhost/lectureupdate",
				type : "post",
				data : {
					classId : classId
				},
				success : function(data) {
					toastr.success('승인완료');
					setTimeout("location.reload()", 1000);
				}
			})
		}

		function schedule() {
			let ctd = $(this).data("test_ck")
			console.log(ctd)

			$
					.ajax({
						url : "http://localhost/schedulelist",
						data : {
							classTimetableDays : ctd
						},
						dataType : "json",
						success : function(data) {
							$('#test').empty();
							for (var i = 0; i < 8; i++) {
								let sch = `<lable><input type="checkbox" value="${data[i].classTimetableId}" name="checktest" id="test`+i+`">${data[i].classTimetableName}${data[i].classTimetableStart}~${data[i].classTimetableEnd}</lable><br>`
								$("#test").append(sch)
							}

						}
					})
		}

		function scheduleInsert() {
			let roomId = $(".roomId").val();
			console.log(test);
			console.log(classId);
			console.log(roomId);

			let classTimetableId = [];
			$("input[name='checktest']:checked").each(function(i) {
				classTimetableId.push($(this).val());
			})
			console.log(classTimetableId);

			if (roomId == null || roomId == "") {
				toastr.error("강의실을 선택하시오", "경고");
			}

			if (classTimetableId.length == 0) {
				toastr.error('시간표를 하나 이상 선택하시오', '경고');
				return false;
			} else if (classTimetableId.length > courseCredit) {
				toastr.error("학점" + courseCredit, "경고 학점에 맞고 선택하시오")
				return false;
			}

			else if (classTimetableId.length > 1
					&& classTimetableId.length <= courseCredit) {
				var testList = new Array();
				for (var i = 0; i < classTimetableId.length; i++) {

					var data = new Object();
					data.classId = classId;
					data.roomId = roomId;
					data.classTimetableId = classTimetableId[i];

					testList.push(data);
				}

				var jsonData = JSON.stringify(testList);
				console.log(jsonData);
			}

			$.ajax({
				url : "http://localhost/scheduleinsert",
				data : jsonData,
				type : "post",
				dataType : "json",
				contentType : 'application/json; charset=UTF-8',
				success : function(data) {
					toastr.success("저장완료", '성공')

					setTimeout("location.reload()", 800);
				}
			})
		}
	</script>
</th:block>
</html>