<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
  <!-- 본문 start -->
 <div style="width: 90%; padding: 10px">
 
 <form action="letureupdate" method="post">
 <table id="letureTable" class="table table-striped" style="width:100%;" >
        <thead>
            <tr>
            	<th>강좌 번호</th>
            	<th>제목</th>
                <th>교과목</th>
                <th>교번</th>
                <th>정원</th>
                <th>개설연도</th>
                <th>개설학기</th>
                <th>계획서</th>
                <th>승인확인</th>
            </tr>
        </thead>
        <tbody>
        
        	<tr th:each="data : ${ltrList}" th:if="${data.classYn} == 'n'">
        		<td th:text="${data.classId}"></td>
        		<td th:text="${data.classTitle}"></td>
        		<td th:text="${data.courseId}"></td>
        		<td th:text="${data.userId}"></td>
        		<td th:text="${data.classTo}"></td>
        		<td th:text="${data.classYear}"></td>
        		<td th:text="${data.classSem}"></td>
        		<td><a th:href="${'/download?classSyl='+data.classSyl}" th:text="${data.classSyl}"></a></td>
        		<td><button class="btn bg-gradient-primary" id="btn1" th:data-class_id="${data.classId}"  th:text="승인"></button></td>
        	</tr>
        	
        </tbody>
  <!-- 본문 end-->
</table>
</form>.
 </div>
<script>

$("#btn1").on("click",update1);

$('#letureTable').DataTable({});

    function update1(){
    	let update = $(this).data("class_id")
    	console.log(update)
     	$.ajax({
     		url:"http://localhost/letureupdate",
    		type:"post",
     		data:{
     			classId : update 
     		}
     	
    	})
    }
</script>
</th:block>
</html>