<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>  
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
  <style>
.pagination .active .page-link {
	background-color: #7b809a;
	border-color: #7b809a;
}

.page-link:focus {
	box-shadow: 0 0 0 0.2rem rgb(123 128 154/ 25%);
}

  
      	.flex {
  	    display: flex;
    	flex-direction: row;
    	justify-content: flex-start;
    	align-items: center;
  	}
  	.left {
  		width: fit-content;
    	float: left;
    	margin-right: 10px;
  	}
  	.down {
  		margin-bottom: 0px;
  	}
  
  </style>
  <!-- 본문 start -->
<div class="container-fluid py-4">
       <div class="row justify-content-center">
      <div class="card p-3 me-3 col-8">
      
        <!-- 각 페이지 타이틀바 -->
        <div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
          <div class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
            <h6 class="text-white ps-3 m-0">공지 및 자료 게시판</h6>
          </div>
        </div>
        
   <form name="searchform" autocomplete="off">
   <input th:value="${#authentication.principal.username}" type="hidden" id="userid">
   <div class="col-md-6 flex">
   <div class="input-group input-group-outline my-3 left" sec:authorize="hasRole('ROLE_STU')">
     <select class="form-control" name="classId">
         <option value="">강좌 선택</option>
      <th:block th:each="c : ${classId}">
         <option th:text="${c.courseTitle}" th:value="${c.classId}"></option>
      </th:block>       
   </select>
   </div>
   <div class="input-group input-group-outline my-3 left" sec:authorize="hasRole('ROLE_PROF')">
    <select class="form-control" name="classId">
         <option value="">강좌 선택</option>
      <th:block th:each="c : ${profClassId}">
         <option th:text="${c.courseTitle}" th:value="${c.classId}"></option>
      </th:block>       
   </select>
   </div>
   <div class="input-group input-group-outline my-3 left">
   <select class="form-control" name="classNoticeType" id="classNoticeType">
   	<option value="">구분</option>
   	<option th:value="notice">공지</option>
   	<option th:value="noticedata">자료</option>
   </select>
   </div>
      <button type="submit" class="btn bg-gradient-secondary down" th:value="검색">검색</button>
      </div>
   </form>
   
   <table id="noticeTable" class="table" style="width:100%;" >
        <thead>
            <tr>
               <th>No.</th>
               <th>제목</th>
               <th>자료구분</th>
               <th>과목명</th>
               <th>작성자</th>
               <th>등록일</th>
            </tr>
        </thead>
        <tbody>
           <tr th:each="data : ${noticeList}">
              <td th:text="${data.class_notice_no}"></td>
              <td>
              <a th:text="${data.class_notice_title}" th:href="@{/noticeview(classNoticeNo=${data.class_notice_no})}"></a>
              </td> 
              <th:block th:if="${data.class_notice_type} == 'noticedata'">
              <td th:text="자료"></td>
              </th:block>
              <th:block th:unless="${data.class_notice_type} == 'noticedata'">
              <td th:text="공지"></td>
              </th:block>
              <td th:text="${data.course_title}"></td>
              <td th:text="${data.user_name}"></td>
              <td th:text="${data.class_notice_date}"></td>
           </tr>
        </tbody>
  <!-- 본문 end-->
   </table>
   
 </div>
 </div>
 </div>
 <script>
       $('#noticeTable').DataTable({
    	   language : {
				lengthMenu : "페이지 당: _MENU_",
				search : "검색:",
				searchPlaceholder : "키워드를 입력하세요",
				zeroRecords : "검색결과가 없습니다",
				info : "_START_ - _END_ (전체: _MAX_건)",
				infoFiltered : "(검색결과: _TOTAL_건)",
				infoEmpty : "",
				paginate : {
					previous : "<",
	              next: ">",
				}
			}
       });
 </script>
</th:block>
</html>