<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>  
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
  <!-- 본문 start -->
  <!-- Button trigger modal -->
  <style>
      	.flex {
  	    display: flex;
    	flex-direction: row;
    	justify-content: flex-start;
    	align-items: center;
  	}
  	.left {
  		width: fit-content;
    	float: left;
    	margin-right: 10px;
  	}
  	.down {
  		margin-bottom: 0px;
  	}
  </style>
<div class="container-fluid py-4">
           <div class="row justify-content-center">
      <div class="card p-3 me-3 col-8">
      
        <!-- 각 페이지 타이틀바 -->
        <div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
          <div class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
            <h6 class="text-white ps-3 m-0">과제 게시판</h6>
          </div>
        </div>
    
       <form name="searchform" autocomplete="off">
   <input th:value="${#authentication.principal.username}" type="hidden" id="userid">
      <div class="col-md-6 flex">
      <div class="input-group input-group-outline my-3 left" sec:authorize="hasRole('ROLE_STU')">
     <select class="form-control" name="classId">
			<option>강좌 선택</option>
		<th:block th:each="c : ${classId}">
			<option th:text="${c.courseTitle}" th:value="${c.classId}"></option>
		</th:block> 		
	</select>
	</div>
	<div class="input-group input-group-outline my-3 left" sec:authorize="hasRole('ROLE_PROF')">
 	<select class="form-control" name="classId">
			<option>강좌 선택</option>
		<th:block th:each="c : ${profClassId}">
			<option th:text="${c.courseTitle}" th:value="${c.classId}"></option>
		</th:block> 		
	</select>
	</div>
		<button type="submit" class="btn bg-gradient-secondary down" th:value="검색">검색</button>
	</div>
	</form>
    
 <table id="quizTable" class="table" style="width:100%;" >
        <thead>
            <tr>
            	<th style="width: 500px">제목</th>
            	<th>제출시작일</th>
            	<th>제출종료일</th>
            </tr>
        </thead>
        <tbody>
        	<input  th:value="${#authentication.principal.username}" type="hidden" id="userid">
        	<tr th:each="data : ${quizlist}">
        		<td>
        		<a th:text="${data.quiz_h_title}" th:href="@{/quizaccept(quizHSeq=${data.quiz_h_seq})}"></a>
        		</td> 
        		<td th:text="${data.quiz_d_openday}"></td>
        		<td th:text="${data.quiz_d_closeday}"></td>
        	</tr>
        </tbody>
  <!-- 본문 end-->
</table>
 </div>
 </div>
 </div>
 <script>
 	$('#quizTable').DataTable({
 	});
 </script>
</th:block>
</html>