<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
  <!-- 본문 start -->
<div class="container-fluid py-4">
    <div class="row"> 
 <table id="noticeTable" class="table table-striped" style="width:100%;" >
        <thead>
            <tr>
            	<th>No.</th>
            	<th>전공</th>
            	<th>자료구분</th>
            	<th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody>
        <input  th:value="${#authentication.principal.username}" type="hidden" id="classMemberId">
			<h1 th:text="${quizlist.quizHTitle}"></h1>
        </tbody>
  <!-- 본문 end-->
</table>
 </div>
 
  		<form action="quizAccept" method="post" enctype="multipart/form-data">

     <div class="input-group input-group-outline my-3">
      <label class="form-label">내용</label> 
      <textarea type="text" class="form-control" name="quizRContent"></textarea>
    </div>	
      
    <div class="input-group input-group-outline my-3">
      <label class="form-label">첨부파일</label>
      <input type="file" class="form-control" multiple="multiple" name="classQuizFileSyl">
    </div>
 		
    <div class="input-group input-group-outline my-3">
      <label class="form-label">제출일</label>
      <input type="date" class="form-control" name="quizRDate">
    </div>
 		
    <button class="btn bg-gradient-primary">제출하기</button>
</form>
    
  <!-- 본문 end-->
 </div>
</th:block>
</html>