<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
  <!-- 본문 start -->
<div class="container-fluid py-4">
    <div class="row"> 

        <input th:value="${#authentication.principal.username}" type="hidden" id="userId" />
        	<h1 th:text="${quizlist.classId}"></h1>
			<h1 th:text="${quizlist.quizHTitle}"></h1>
			<h1 th:text="${quizlist.quizHContent}"></h1>
			<a th:href="${'/quizdownload?quizHFile='+quizlist.quizHFile}">
			<h1 th:text="${quizlist.quizHOriginal}"></h1>
			</a>
			<h1 id="startDay" th:text="${quizlist.quizDOpenday}"></h1>
			~
			<h1 id="closeDay" th:text="${quizlist.quizDCloseday}">?</h1>
  <!-- 본문 end-->
 </div>

 <th:block th:if="${quizaccept} != null">
  <form action="quizModify" method="post" enctype="multipart/form-data">
  		<input type="hidden" id="classId" name="classId" th:value="${quizaccept.classId}"/>
		<input type="hidden" id="quizDId" name="quizDId" th:value="${quizaccept.quizDId}"/>
		<input type="hidden" id="quizRId" name="quizRId" th:value="${quizaccept.quizRId}"/>
		 	<div class="input-group input-group-outline my-3">
		      <textarea type="text" id="contents" class="form-control" th:text="${quizaccept.quizRContent}" name="quizRContent"></textarea>
		    </div>	
		    <div class="input-group input-group-outline my-3">
		      <a th:href="${'/quizAcceptdownload?quizRFile='+quizaccept.quizRFile}"><label th:id="quizRFile" th:text="${quizaccept.quizROrginal}" class="form-label"></label></a>
		      <input type="file" class="form-control" multiple="multiple" th:name="classQuizFileSyl">
		      <input type="hidden" th:id="quizROrginal" class="form-control" multiple="multiple" th:value="${quizaccept.quizROrginal}"  th:name="quizROrginal">
		    </div>
		    <button class="btn bg-gradient-primary hidBtn">수정하기</button>
</form>
</th:block>
 	
 <th:block th:if="${quizaccept} == null ">
 <form action="quizAccept" method="post" enctype="multipart/form-data">
		<input type="hidden" id="classId" name="classId" th:value="${quizlist.classId}"/>
		<input type="hidden" id="quizDId" name="quizDId" th:value="${quizlist.quizDId}"/>
		<input type="hidden" id="quizRId" name="quizRId" th:value="${quizlist.quizRId}"/>
		   <div class="input-group input-group-outline my-3">
		     <label class="form-label"></label> 
		     <textarea type="text" id="contents" class="form-control" th:name="quizRContent"></textarea>
		   </div>	
		   <div class="input-group input-group-outline my-3">
		     <label class="form-label"></label>
		     <input type="file" class="form-control" multiple="multiple" th:name="classQuizFileSyl">
		     <input type="hidden" class="form-control" multiple="multiple" th:name="quizROriginal">
		   </div>
    	   <button class="btn bg-gradient-primary hidBtn">제출12456483하기</button>
 </form>
 </th:block>
    
  <!-- 본문 end-->
 </div>

	<script>

		var endDay = $("#closeDay").text();
		var now = new Date();
		var end = new Date($("#closeDay").text());
		var start = new Date($("#startDay").text());

		if(now > end) {
			$(".hidBtn").hide();
		}
		
	</script>
 
</th:block>



</html>