<!--로그인 페이지-->
<!-- login.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="./img/apple-icon.png">
  <link rel="icon" type="image/png" href="./img/favicon.png">
  <title>
    예담직업전문학교
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="./css/nucleo-icons.css" rel="stylesheet" />
  <link href="./css/nucleo-svg.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="./css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
	<style>
		.page-header {
			margin: 0;
			border-bottom: none;
		}
	</style>
</head>
<body class="bg-gray-200">
	<script>
	 $("#checkEmail").click(function () {
	        let userEmail = $("#userEmail").val();
	        let userName = $("#userName").val();

	        $.ajax({
	            type: "GET",
	            url: "/check/findPw",
	            data: {
	                "userEmail": userEmail,
	                "userName": userName
	            },
	            success: function (res) {
	                if (res['check']) {
	                    swal("발송 완료!", "입력하신 이메일로 임시비밀번호가 발송되었습니다.", "success").then((OK) => {
	                        if(OK) {
	                            $.ajax({
	                                type: "POST",
	                                url: "/check/findPw/sendEmail",
	                                data: {
	                                    "userEmail": userEmail,
	                                    "userName": userName
	                                }
	                            })
	                            window.location = "/login";
	                        }


	                    }
	                )
	                    $('#checkMsg').html('<p style="color:darkblue"></p>');
	                } else {
	                    $('#checkMsg').html('<p style="color:red">일치하는 정보가 없습니다.</p>');
	                }
	            }
	        })
	    })
	</script>
</body>
</html>