<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">

  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->
  <div class="container-fluid py-4">

    <h1>홈화면</h1>

    <!-- 하단 푸터(본문div 안에 있어야 안 어그러짐) -->
    <!--     <th:block th:replace="fragments/footer :: footerFragment"></th:block> -->

  </div>
  <!-- 본문 end-->


</th:block>
</html>