<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
	<!-- 토스터 -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
		integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
		integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<style>
.pagination .active .page-link {
	background-color: #7b809a;
	border-color: #7b809a;
}

.page-link:focus {
	box-shadow: 0 0 0 0.2rem rgb(123 128 154/ 25%);
}
</style>
	<!-- 상단 내비바 -->
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
	<!-- 본문 start -->

	<div class="container-fluid">

		<div class="row justify-content-center">
			<div class="card p-3 me-3 mt-5 col-10">

				<!-- 각 페이지 타이틀바 -->
				<div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
					<div
						class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
						<h6 class="text-white ps-3 m-0">강좌승인 목록</h6>
					</div>
				</div>
				<div class="overflow-scroll">
				<table id="letureTable"
					class="table align-items-center mb-0 table-hover">
					<thead>
						<tr>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">제목</th>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">교과명</th>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">교수</th>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">교번</th>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">학년</th>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">학점</th>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">정원</th>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">학기</th>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">계획서</th>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">승인여부</th>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">시간표/강의실</th>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">승인확인</th>

						</tr>
					</thead>
					<tbody>

						<tr th:each="data : ${ltrList}" th:if="${data.classYn} != 'y'">
							<td th:text="${data.classTitle}" style="font-weight: bolder;"></td>
							<td th:text="${data.courseTitle}"></td>
							<td th:text="${data.userName}"></td>
							<td th:text="${data.profId}"></td>
							<td th:text="|${data.courseGrade}학년|"></td>
							<td th:text="|${data.courseCredit}학점|"></td>
							<td th:text="|${data.classTo}명|"></td>
							<td th:text="|${data.classSem}학기|"></td>
							<td><i class="fa-solid fa-file"></i><a
								th:href="${'/download?classSyl='+data.classSyl}" th:text="강의계획서"></a></td>
							<th:block th:if="${data.classYn} == 't'">
								<td><span class="badge badge-dot me-4"> <i
										class="fa-solid fa-circle-check" style="color: black"></i><span
										class="text-dark text-xs">시간표등록완료</span>
								</span></td>
							</th:block>
							<th:block th:unless="${data.classYn} == 't'">
								<td><span class="badge badge-dot me-4"> <i
										class="fa-solid fa-repeat" style="color: black"></i><span
										class="text-dark text-xs">승인대기중</span>
								</span></td>
							</th:block>
							<th:block th:if="${data.classYn} != 't'">
								<td><button type="button"
										class="btn btn-info btn-sm" data-bs-toggle="modal"
										data-bs-target="#schedule"
										th:data-schedule_class_id="${data.classId}"
										th:data-grades="${data.courseCredit}">시간표/강의실</button></td>

							</th:block>
							
							<th:block th:unless="${data.classYn} != 't'">
								<td><button type="button"
										class="btn btn btn-secondary btn-sm" data-bs-toggle="modal"
										data-bs-target="#schedule"
										th:data-schedule_class_id="${data.classId}"
										th:data-grades="${data.courseCredit}" disabled="disabled">시간표/강의실</button></td>
							</th:block>
							
							<th:block th:if="${data.classYn} == 't'">
								<td><button type="button"
										class="btn btn-danger btn-sm approval" th:text="승인"
										th:data-class_id="${data.classId}"></button></td>
							</th:block>
							
							<th:block th:unless="${data.classYn} == 't'">
								<td><button class="btn btn-secondary btn-sm" th:text="승인" disabled="disabled"></button></td>
							</th:block>
							
						</tr>
					</tbody>
					<!-- 본문 end-->
				</table>
				</div>

			</div>
			<!-- Button trigger modal -->


			<!-- 시간표Modal -->
			<div class="modal fade" id="schedule" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title font-weight-normal" id="exampleModalLabel">강의시간표/강의실</h5>
							<button type="button" class="btn-close text-dark"
								data-bs-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<th:block th:each="schedule :${schedule}">
								<button class="btn btn-secondary days"
									th:text="${schedule.scheduleTitle}"
									th:data-schedule_ck="${schedule.classTimetableDays}"></button>
							</th:block>
							<div class="col-5">
								<div class="input-group input-group-static mb-4">
									<label for="exampleFormControlSelect1" class="ms-0">강의실
										선택</label> <select class="roomId form-control">
										<option value=""></option>
										<th:block th:each="room : ${room}">
											<option th:text="|${room.roomBuilding}${room.roomNo}호 |"
												th:value="${room.roomId}"></option>
										</th:block>
									</select>
								</div>
							</div>
							<!-- 요일을 누르면 시간표가 출력 되는 부분 -->
							<div class="modal-body form-check p-0" id="check_the_timetable"></div>
							
							<div class="modal-footer">
								<button type="button" class="btn btn btn-secondary btn-sm"
									data-bs-dismiss="modal">취소</button>
								<button type="button" class="btn btn-danger btn-sm"
									id="scheduleInsert">확인</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<script>
			$('#letureTable').DataTable({
				language : {
					lengthMenu : "페이지 당: _MENU_",
					search : "검색:",
					searchPlaceholder : "키워드를 입력하세요",
					zeroRecords : "검색결과가 없습니다",
					info : "_START_ - _END_ (전체: _MAX_건)",
					infoFiltered : "(검색결과: _TOTAL_건)",
					infoEmpty : "",
					paginate : {
						previous : "<",
	                next: ">",
					}
				}
			});

			var courseCredit = ""
			$(document).ready(function() {
				$('#schedule').on('show.bs.modal', function(event) {
					classId = $(event.relatedTarget).data('schedule_class_id');
					courseCredit = $(event.relatedTarget).data('grades');
				});
			});

			$(".days").on("click", schedule);
			$(".approval").on("click", letureApproval);
			$("#scheduleInsert").on("click", scheduleInsert)

						
			
				function letureApproval() {
						var classId = $(this).data("class_id")
					Kcy.fire({
							  title: '정말 승인 하실 건가요??',
							  text: "승인을 하면 되돌릴 수 없습니다",
							  icon: 'warning',
							  showCancelButton: true,
							  confirmButtonText: '승인',
							  cancelButtonText:"취소"
							}).then((result) => {
							  if (result.isConfirmed) {
								  
								   $.ajax({
									 url : "/lectureupdate",
									 type : "post",
									 data : {
										 classId : classId
										    },
									success : function(data) {
										Kcy.fire(
												'승인을 완료했습니다',
												'success'
												)
												setTimeout("location.reload()", 800);
										}
								  })
							    
							  }
							})
			           }
			

			function schedule() {
				let ctd = $(this).data("schedule_ck")
				
				var idx = $(this).index()
				$(".days").removeClass("btn-info")
				$(".days").eq(idx).addClass("btn-info")
				
						$.ajax({
							url : "/schedulelist",
							data : {
								classTimetableDays : ctd
							},
							dataType : "json",
							success : function(data) {
								//기준이 되는 시간표를 JSON타입으로 받아와서 반복문을 이용하여 만들어주고 append하여 버튼을 누를시에 시간표가 나오게 하는 부분
								$('#check_the_timetable').empty();
								for (var i = 0; i < 8; i++) {
									let sch = `<lable class="custom-control-label"><input class="form-check-input" type="checkbox" value="${data[i].classTimetableId}" name="timeselect" id="test`+i+`" style="margin-right: 10px;">${data[i].classTimetableName}${data[i].classTimetableStart}~${data[i].classTimetableEnd}</lable><br>`
									$("#check_the_timetable").append(sch)
								}

							}
						})
			}

			function scheduleInsert() {
				let roomId = $(".roomId").val();

				let classTimetableId = [];
				$("input[name='timeselect']:checked").each(function(i) {
					classTimetableId.push($(this).val());
				})
				console.log(classTimetableId);

				if (roomId == null || roomId == "") {
					toastr.error("강의실을 선택하시오", "경고");
				}

				if (classTimetableId.length == 0) {
					toastr.error('시간표를 하나 이상 선택하시오', '경고');
					return false;
				} else if (classTimetableId.length > courseCredit) {
					toastr.error("학점:" + courseCredit+"점 입니다", "경고 학점에 맞게 선택하시오")
					return false;
				}
				else if(classTimetableId.length < courseCredit){
					toastr.error("학점:" + courseCredit+"점 입니다", "경고 학점에 맞게 선택하시오")
					return false;
				}

				//학점이랑 내가 선택한 시간표랑 비교 하여 같으면 JSON타입으로 만들어서 INSERT로 넘겨서 추가하는 부분이다
				else if (
						classTimetableId.length == courseCredit) {
					var testList = new Array();
					for (var i = 0; i < classTimetableId.length; i++) {

						var data = new Object();
						data.classId = classId;
						data.roomId = roomId;
						data.classTimetableId = classTimetableId[i];

						testList.push(data);
					}

					var jsonData = JSON.stringify(testList);
				}

				$.ajax({
					url : "/scheduleinsert",
					data : jsonData,
					type : "post",
					dataType : "json",
					contentType : 'application/json; charset=UTF-8',
					success : function(data) {
						$.ajax({
							url : "/lectureCheck",
							type : "post",
							data : {
								classId : classId
							},
							success : function(data) {
								toastr.success("저장완료", '성공')
								setTimeout("location.reload()", 800);
							}
						})

					}
				})
			}
		</script>
</th:block>
</html>