<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">

  <script>
    $(function() {
      // 사이드바 콜랩스 펼침
      $('#userMgr').addClass('show');
      
      $('option:disabled').css('background-color','lightgray');
      
      // 초기화면 로딩시 휴학 필수항목 세팅
      $('#leaveReason input').attr('required','required');
      $('#leavePeriod select').attr('required','required');
      
      
      // 휴,복학,자퇴 신청폼 양식 전환
      $('#acaType input').on('change',function(){
        if(this.value == "휴학"){
          $('#table2 tr:eq(2) td:first-child').text('휴학구분');
          $('#table2 tr:gt(1)').removeClass('d-none');
          $('#table2 tr:eq(1)').addClass('d-none');
          $('#leaveReason input').attr('required','required');
          $('#leavePeriod select').attr('required','required');
        }
        if(this.value == "복학"){
          $('#table2 tr:eq(1)').removeClass('d-none');
          $('#table2 tr:gt(1)').addClass('d-none');
          $('#leaveReason input').removeAttr('required');
          $('#leavePeriod select').removeAttr('required');
          $('#returnPeriod select').attr('required','required');
        }
        if(this.value == "자퇴"){
          $('#table2 tr:eq(2) td:first-child').text('자퇴구분');
          $('#table2 tr:gt(1)').removeClass('d-none');
          $('#table2 tr:eq(1), #table2 tr:eq(3)').addClass('d-none');
          $('#leaveReason input').attr('required','required');
          $('#leavePeriod select').removeAttr('required');
          
        }
        
      })
      
      
      // 휴학시작학기 선택에 따라 휴학종료학기 선택지 제한 표시
      $('#acaStart').on('change',function(){
        let sop = this.value.substring(1);
        let reops = $('#acaEnd option');
        
        // 휴학시작학기 선택 시 휴학종료학기 선택을 일단 초기화
        $('#acaEnd option:eq(0)').prop("selected", true)
        
        // 휴학시작학기보다 과거의 휴학종료학기 선택지는 숨기고, 같거나 미래의 선택지는 표시하기 
        for (let reop of reops){
          if(sop > reop.value.substring(1)){
            reop.style.display='none';
          } else {
            reop.removeAttribute('style');
          }
        }
        
      })
      
      
    })
  </script>

  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->
  <div class="container-fluid py-4">

    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-3 mb-4"></div>
      <div class="col-lg-7 col-sm-9 mb-4">
        <!--         <th:block th:replace="pages/userMgr/stu/stuNavbar :: stuNavbarFragment"></th:block> -->
      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-lg-5 mb-4">
        <div class="card">

          <div class="table-responsive border-radius-lg">
            <table class="table text-center mb-0">
              <tr>
                <td class="table-secondary">성명</td>
                <td>[[${myInfo.userName}]]</td>
                <td class="table-secondary">학번</td>
                <td>[[${myInfo.userId}]]</td>
              </tr>
              <tr>
                <td class="table-secondary">전공</td>
                <td>[[${myInfo.userDept}]]</td>
                <td class="table-secondary">연락처</td>
                <td>[[${myInfo.userPhone}]]</td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>



    <form action="/stuAcaInsertProc" method="post">
      <div>
       <input type="hidden" name="id" th:value="${#authentication.name}">
      </div>
    
      <div class="row justify-content-center">
        <div class="col-lg-8 mb-4">
          <div class="card mb-2">
  
            <div class="table-responsive border-radius-lg">
              <table class="table align-items-center mb-0 fw-bold" id="table2">
                <tr>
                  <td class="table-secondary text-center" width="150px">신청구분</td>
                  <td id="acaType">
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaType" id="leaveSchool" value="휴학" checked>
                      <label class="custom-control-label fs-6 fw-bold mb-0" for="leaveSchool">휴학</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaType" id="returnSchool" value="복학">
                      <label class="custom-control-label fs-6 fw-bold mb-0" for="returnSchool">복학</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaType" id="outSchool" value="자퇴">
                      <label class="custom-control-label fs-6 fw-bold mb-0" for="outSchool">자퇴</label>
                    </div>
                  </td>
                </tr>
                
                
                
                
                <tr class="d-none">
                  <td class="table-secondary text-center">복학적용학기</td>
                  <td id="returnPeriod">
                    <div class="row align-items-center ps-3 w-90">
                      <select class="form-select ps-2 ms-4 me-3 my-2 w-50" id="returnStart" name="acaStart" aria-label="returnStart">
                        <option value="" disabled selected>학기 선택</option>
                        <option th:each="item : ${terms}" th:value="${item.schId}">[[${item.schTitle}]]</option>
                      </select>
                      부터
                    </div>
                  </td>
                </tr>
                
                
                
                <tr>
                  <td class="table-secondary text-center">휴학구분</td>
                  <td id="leaveReason">
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="goMilitary" value="군입대">
                      <label class="custom-control-label fs-6 fw-bold mb-2" for="goMilitary">군입대</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="healthIssue" value="건강문제">
                      <label class="custom-control-label fs-6 fw-bold mb-2" for="healthIssue">건강문제</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="examThing" value="수험">
                      <label class="custom-control-label fs-6 fw-bold mb-2" for="examThing">수험</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="stayAbroad" value="해외체류">
                      <label class="custom-control-label fs-6 fw-bold mb-2" for="stayAbroad">해외체류</label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="familyAffair" value="가정사">
                      <label class="custom-control-label fs-6 fw-bold mb-0" for="familyAffair">가정사</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="jobThing" value="업무관련">
                      <label class="custom-control-label fs-6 fw-bold mb-0" for="jobThing">업무관련</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="others" value="기타">
                      <label class="custom-control-label fs-6 fw-bold mb-0" for="others">기타</label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="table-secondary text-center">휴학신청기간</td>
                  <td id="leavePeriod">
                    <div class="row align-items-center ps-3 w-90">
                      <select class="form-select ps-2 ms-4 me-3 my-2 w-50" id="acaStart" name="acaStart" aria-label="acaStart">
                        <option value="" disabled selected>학기 선택</option>
                        <option th:each="item : ${terms}" th:value="${item.schId}">[[${item.schTitle}]]</option>
                      </select>
                      부터
                    </div>
                    <div class="row align-items-center ps-3 w-90">
                      <select class="form-select ps-2 ms-4 me-3 my-2 w-50" id="acaEnd" name="acaEnd" aria-label="acaEnd">
                        <option value="" disabled selected>학기 선택</option>
                        <option th:each="item : ${terms}" th:value="${item.schId}">[[${item.schTitle}]]</option>
                      </select>
                      까지
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="table-secondary text-center">상세사유</td>
                  <td>
                    <div class="form-floating input-group input-group-dynamic mx-4 my-3 w-90 align-items-center">
                      <textarea class="form-control" placeholder="Leave a comment here" name="acaReasonD" id="acaReasonD" style="height: 15vh"></textarea>
                      <label for="acaReasonD">사유 입력</label>
                    </div>
  
                  </td>
                </tr>
                <tr>
                  <td class="table-secondary text-center">서류첨부</td>
                  <td>ㅇㅇㅇ</td>
                </tr>
                
                
                
                
                
                
                
                
  
                
                
              </table>
            </div> <!-- div table-responsive -->
  
          </div> <!-- card table -->
          
          <div class="text-end">
            <button type="button" id="btn-stuAcaInsert" class="btn btn-block bg-gradient-secondary mb-3" data-bs-toggle="modal" data-bs-target="#modal-stuAcaInsert">신청</button>
          </div>
          
          
          <div class="modal fade" id="modal-stuAcaInsert" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title font-weight-normal" id="modal-title-stuAcaInsert">학적변동 신청</h6>
                  <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>학적변동 신청을 완료하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn bg-gradient-secondary">신청</button>
                  <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">닫기</button>
                </div>
              </div>
            </div>
          </div>
          
        </div> <!-- col -->
      </div> <!-- row -->
    </form>
    
    


  </div>
  <!-- 본문 end-->
</th:block>
</html>