<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
      
<th:block layout:fragment="content">

  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->
  <div class="container-fluid py-4">
  
  <th:block th:replace="pages/userMgr/stu/stuNavbar :: stuNavbarFragment"></th:block>
  
    <div class="row">
      <th:block th:each="item : ${myAcaInfo}">
        <div>[[${item}]]</div>
      </th:block>










    
    </div>
  </div>
  
  
  <!-- 본문 end-->


</th:block>
</html>