<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">

  <script th:inline="javascript">
    $(function() {
      // 첨부파일 다운 a태그 링크 부여
      // 파일명은 encodeURIComponent()로 감싸줘야 특수문자까지 제대로 다 넘어감
      $('#stuAcaDownload').attr('href', 'stuAcaDownload?acaFile=' + encodeURIComponent(/*[[${aca.acaFile}]]*/));
      
      // 삭제(학생) 실행
      $('#btn-stuAcaDelete').on('click', function(){
        location.href = 'stuAcaDelete?acaId=' + [[${aca.acaId}]] + '&acaFile=' + encodeURIComponent(/*[[${aca.acaFile}]]*/);
      })
      
      // 승인(행정) 실행
      $('#btn-stuAcaAdmit').on('click', function(){
        location.href = 'stuAcaAdmit?acaId='+ /*[[${aca.acaId}]]*/;
      })
      
      // 반려(행정) 실행
      $('#btn-stuAcaReject').on('click', function(){
        $.ajax ({
          url: 'stuAcaReject',
          type: 'POST',
          data: { acaId : /*[[${aca.acaId}]]*/, acaReject : $('#acaReject textarea').val() },
          success: () => {
            // ajax요청시 컨트롤러에서 redirect하면 서버만 따로 돌고, 페이지 이동이 안 됨. 여기서 location.href로 이동해야 함
            window.location.href='allAcaInfo' 
          },
          error: (e) => { console.log(e) }
        })
      })
      
      // 확정 취소(행정) 실행
      $('#btn-stuAcaAdmitCancel').on('click', function(){
        location.href='stuAcaAdmitCancel?acaId=' + /*[[${aca.acaId}]]*/;
      })
        
    })
  </script>

  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->
  <div class="container-fluid" th:object="${aca}">

    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-3 mb-4"></div>
      <div class="col-lg-7 col-sm-9 mb-4">
        <!--         <th:block th:replace="pages/userMgr/stu/stuNavbar :: stuNavbarFragment"></th:block> -->
      </div>
    </div>

<!--  -->
    <div class="row justify-content-center">
      <div class="col-lg-5 mb-4">
        <div class="card">

          <div class="table-responsive border-radius-lg">
            <table class="table text-center mb-0">
              <tr>
                <td class="table-secondary">성명</td>
                <td id="userName">[[*{userName}]]</td>
                <td class="table-secondary">학번</td>
                <td id="userId">[[*{userId}]]</td>
              </tr>
              <tr>
                <td class="table-secondary">전공</td>
                <td id="userDept">[[*{userDept}]]</td>
                <td class="table-secondary">연락처</td>
                <td id="userPhone">[[*{userPhone}]]</td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>



    <div class="row justify-content-center">
      <div class="col-lg-8 mb-4">
        <form>

          <div class="card mb-2">
            
            <div class="table-responsive border-radius-lg">
              <table class="table align-items-center mb-0 fw-bold" id="table2">
                <tr>
                  <td class="table-secondary text-center" width="150px">신청구분</td>
                  <td id="acaType">
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaType" id="leaveSchool" value="휴학" th:checked="*{acaType} == '휴학'" disabled>
                      <label class="custom-control-label fs-6 fw-bold mb-0" for="leaveSchool">휴학</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaType" id="returnSchool" value="복학" th:checked="*{acaType} == '복학'" disabled>
                      <label class="custom-control-label fs-6 fw-bold mb-0" for="returnSchool">복학</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaType" id="outSchool" value="자퇴" th:checked="*{acaType} == '자퇴'" disabled>
                      <label class="custom-control-label fs-6 fw-bold mb-0" for="outSchool">자퇴</label>
                    </div>
                  </td>
                </tr>
                
                
                
                
                <tr th:if="*{acaType} == '복학'">
                  <td class="table-secondary text-center">복학적용학기</td>
                  <td id="returnPeriod">
                    <div class="input-group input-group-outline align-items-center ms-3 w-50">
                      <input class="form-control me-2" type="text" th:value="|*{acaStartT} (*{acaStartS} ~ )|" readonly>
                      부터
                    </div>
                  </td>
                </tr>
                
                
                
                <tr th:if="*{acaType} == '휴학' or *{acaType} == '자퇴'">
                  <td class="table-secondary text-center" th:text="*{acaType} == '휴학' ? '휴학구분' : '자퇴구분' "></td>
                  <td id="leaveReason">
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="goMilitary" value="군입대" th:checked="*{acaReason} == '군입대'" disabled>
                      <label class="custom-control-label fs-6 fw-bold mb-2" for="goMilitary">군입대</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="healthIssue" value="건강문제" th:checked="*{acaReason} == '건강문제'" disabled>
                      <label class="custom-control-label fs-6 fw-bold mb-2" for="healthIssue">건강문제</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="examThing" value="수험" th:checked="*{acaReason} == '수험'" disabled>
                      <label class="custom-control-label fs-6 fw-bold mb-2" for="examThing">수험</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="stayAbroad" value="해외체류" th:checked="*{acaReason} == '해외체류'" disabled>
                      <label class="custom-control-label fs-6 fw-bold mb-2" for="stayAbroad">해외체류</label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="familyAffair" value="가정사" th:checked="*{acaReason} == '가정사'" disabled>
                      <label class="custom-control-label fs-6 fw-bold mb-0" for="familyAffair">가정사</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="jobThing" value="업무관련" th:checked="*{acaReason} == '업무관련'" disabled>
                      <label class="custom-control-label fs-6 fw-bold mb-0" for="jobThing">업무관련</label>
                    </div>
                    <div class="form-check form-check-inline px-0 mx-4">
                      <input class="form-check-input" type="radio" name="acaReason" id="others" value="기타" th:checked="*{acaReason} == '기타'" disabled>
                      <label class="custom-control-label fs-6 fw-bold mb-0" for="others">기타</label>
                    </div>
                  </td>
                </tr>
                <tr th:if="*{acaType} == '휴학'">
                  <td class="table-secondary text-center">휴학신청기간</td>
                  <td id="leavePeriod">
                    <div class="input-group input-group-outline align-items-center ms-3 w-50">
                      <input class="form-control me-2" type="text" th:value="|*{acaStartT} (*{acaStartS} ~ *{acaStartE})|" readonly>
                      부터
                    </div>
                    <div class="input-group input-group-outline align-items-center ms-3 w-50">
                      <input class="form-control me-2" type="text" th:value="|*{acaEndT} (*{acaEndS} ~ *{acaEndE})|" readonly>
                      까지
                    </div>
                  </td>
                </tr>
                <tr th:if="*{acaType} == '휴학' or *{acaType} == '자퇴'">
                  <td class="table-secondary text-center">상세사유</td>
                  <td>
                    <div class="form-floating input-group input-group-dynamic mx-4 my-3 w-90 align-items-center">
                      <textarea class="form-control" placeholder="Leave a comment here" name="acaReasonD" id="acaReasonD" style="height: 15vh" readonly>[[*{acaReasonD}]]</textarea>
  <!--                       <label for="acaReasonD">사유 입력</label> -->
                    </div>
                    
                  </td>
                </tr>
                <tr th:if="*{acaType} == '휴학' or *{acaType} == '자퇴'">
                  <td class="table-secondary text-center">첨부서류</td>
                  <td>
                  
                    <div class="input-group input-group-outline align-items-center ms-3 w-90">
                      <input class="form-control" type="text" id="stuAcaFilename" th:value="*{acaFile} == null ? '첨부파일이 없습니다' : ${#strings.abbreviate(#strings.substring(aca.acaFile,14,aca.acaFile.length()),30)}" readonly>
                      <a class="btn btn-light mb-0 active" href="" id="stuAcaDownload" th:if="*{acaFile} != null" download>다운로드</a>
                    </div>

                  </td>
                </tr>
                <tr th:if="*{acaYn} == '반려'">
                  <td class="table-secondary text-center">반려사유</td>
                  <td>
                    <div class="form-floating input-group input-group-dynamic mx-4 my-3 w-90 align-items-center">
                      <textarea class="form-control" placeholder="Leave a comment here" name="acaRejectD" id="acaRejectD" style="height: 15vh" readonly>[[*{acaReject}]]</textarea>
                    </div>
                    
                  </td>
                </tr>
                
                
                
                
              </table>
            </div> <!-- div table-responsive -->
          </div> <!-- card table -->
          
        </form>
        
        
        <div class="d-flex justify-content-end">
          <!-- Start: stuAcaDelete -->
          <div id="stuAcaDelete" sec:authorize="hasRole('ROLE_STU')" th:if="*{acaYn} == '신청중'">
            <button type="button" class="btn btn-block bg-gradient-secondary mx-1" data-bs-toggle="modal" data-bs-target="#modal-stuAcaDelete">
            신청 취소
            </button>
            
            <div class="modal fade" id="modal-stuAcaDelete" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
              <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title font-weight-normal" id="modal-title-stuAcaDelete">학적변동 신청 취소</h6>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>학적 변동 신청을 취소하시겠습니까?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" id="btn-stuAcaDelete">신청 취소</button>
                    <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End: stuAcaDelete -->
          
          
          <!-- Start: stuAcaAdmit -->
          <div id="stuAcaAdmit" sec:authorize="hasRole('ROLE_ADMIN')" th:if="*{acaYn} == '신청중'">
            <button type="button" class="btn btn-block bg-gradient-secondary mx-1" data-bs-toggle="modal" data-bs-target="#modal-stuAcaAdmit">
            신청 승인
            </button>
            
            <div class="modal fade" id="modal-stuAcaAdmit" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
              <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title font-weight-normal" id="modal-title-stuAcaAdmit">학적 변동 신청 승인</h6>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>학적 변동 신청을 승인하시겠습니까?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" id="btn-stuAcaAdmit">신청 승인</button>
                    <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End: stuAcaAdmit -->
          
          
          
          <!-- Start: stuAcaReject -->
          <div id="stuAcaReject" sec:authorize="hasRole('ROLE_ADMIN')" th:if="*{acaYn} == '신청중'">
            <button type="button" class="btn btn-block bg-gradient-secondary mx-1" data-bs-toggle="modal" data-bs-target="#modal-stuAcaReject">
            반려
            </button>
            
            <div class="modal fade" id="modal-stuAcaReject" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
              <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title font-weight-normal" id="modal-title-stuAcaReject">학적 변동 신청 반려</h6>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="acaReject">
                      <div class="input-group input-group-dynamic">
                        <textarea class="multisteps-form__textarea form-control" rows="3" placeholder="반려사유 입력"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" id="btn-stuAcaReject">신청 반려</button>
                    <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End: stuAcaReject -->
          
          
          <!-- Start: stuAcaAdmitCancel -->
          <div id="stuAcaAdmitCancel" sec:authorize="hasRole('ROLE_ADMIN')" th:if="*{acaYn} == '승인' or *{acaYn} == '반려'">
            <button type="button" class="btn btn-block bg-gradient-secondary mx-1" data-bs-toggle="modal" data-bs-target="#modal-stuAcaAdmitCancel">
            확정 취소
            </button>
            
            <div class="modal fade" id="modal-stuAcaAdmitCancel" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
              <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title font-weight-normal" id="modal-title-stuAcaAdmitCancel">학적 변동 확정 취소</h6>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>학적 변동 확정을 취소하고 신청중으로 되돌리겠습니까?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" id="btn-stuAcaAdmitCancel">확정 취소</button>
                    <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End: stuAcaAdmitCancel -->
        
        </div> <!-- div 버튼 꾸러미 -->
      </div> <!-- col -->
    </div> <!-- row -->

  
    


  </div>
  <!-- 본문 end-->
</th:block>
</html>