<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">

  <style>
  </style>
  <script>
    $(function() {
      $('#userMgr').addClass('show')
    })
  </script>

  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->
  <div class="container-fluid py-4">

    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-3 mb-4"></div>
      <div class="col-lg-7 col-sm-9 mb-4">
        <!--         <th:block th:replace="pages/userMgr/stu/stuNavbar :: stuNavbarFragment"></th:block> -->
      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-lg-5 mb-4">
        <div class="card">

          <div class="table-responsive border-radius-lg">
            <table class="table text-center mb-0">
              <tr>
                <td class="table-secondary">성명</td>
                <td>[[${myInfo.userName}]]</td>
                <td class="table-secondary">학번</td>
                <td>[[${myInfo.userId}]]</td>
              </tr>
              <tr>
                <td class="table-secondary">전공</td>
                <td>[[${myInfo.userDept}]]</td>
                <td class="table-secondary">연락처</td>
                <td>[[${myInfo.userPhone}]]</td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>



  </div>
  <!-- 본문 end-->
</th:block>
</html>