<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
<style>
/*    #myTable tr td:nth-child(odd) {  */
/*      background-color: darkgray;  */
/*      color: white  */
/*    }  */
</style>
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->
  <div class="container-fluid">
    <div class="row justify-content-center">
    
      <div class="px-2 pb-4">
        <div class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
          <h6 class="text-white ps-3 m-0">학적 조회</h6>
        </div>
      </div>
      
      <div style="max-width: 300px">
        <div class="card ratio ratio-1x1">
          <img th:src="@{ '../aa/userImg/'+ ${myInfo.userPic} }" 
               class="img-fluid border-radius-lg shadow border border-5"
               th:alt="${myInfo.userPic}" 
               style="object-fit: cover; object-position: center 30%; ">
        </div>
      </div>

      <div style="max-width: 800px">
        <div class="card">

          <div class="table-responsive border-radius-lg border border-5">
            <table class="table align-items-center text-center mb-0 fw-bold" style="height: 270px" id="myTable">
              <tr>
                <td class="table-secondary">학번</td>
                <td>[[${myInfo.userId}]]</td>
                <td class="table-secondary">성명</td>
                <td th:text="${myInfo.userName}"></td>
              </tr>
              <tr>
                <td class="table-secondary">학년/학차</td>
                <td>[[${myInfo.studentGrade}]]학년/[[${myInfo.studentSem}]]학기</td>
                <td class="table-secondary">생년월일</td>
                <td>[[${myInfo.userBirth}]]</td>
              </tr>
              <tr>
                <td class="table-secondary">전공</td>
                <td>[[${myInfo.userDept}]]</td>
                <td class="table-secondary">성별</td>
                <td>[[${myInfo.userSex}]]</td>
              </tr>
              <tr>
                <td class="table-secondary">학적상태</td>
                <td>[[${myInfo.studentAcaYn}]]</td>
                <td class="table-secondary">국적</td>
                <td>[[${myInfo.userNation}]]</td>
              </tr>
              <tr>
                <td class="table-secondary">입학일</td>
                <td>[[${myInfo.studentRegdate}]]</td>
                <td class="table-secondary">연락처</td>
                <td>[[${myInfo.userPhone}]]</td>
              </tr>
              <tr>
                <td class="table-secondary">졸업일</td>
                <td th:text=" ${myInfo.studentGraddate} ? ${myInfo.studentGraddate} : '-' "></td>
                <td class="table-secondary">이메일</td>
                <td>[[${myInfo.userEmail}]]</td>
              </tr>
              <!-- 
              <tr>
                <td class="table-secondary">학점<sub>(이수/졸업)</sub></td>
                <td>[[${myInfo.creditTotal}]]</td>
                <td class="table-secondary">최종성적</td>
                <td>..</td>
              </tr>
              -->
            </table>
          </div> <!-- div table-responsive -->

        </div> <!-- card -->
      </div> <!-- col -->

    </div> <!-- row -->
  </div> <!-- container -->
  <!-- 본문 end-->
</th:block>
</html>