<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
<style>
/*   #myTable tr td:nth-child(odd) { */
/*     background-image: linear-gradient(195deg, #42424a 30%, #191919 100%); */
/*     color: white */
/*   } */
</style>
  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->
  <div class="container-fluid py-4">


    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-3 mb-4"></div>
      <div class="col-lg-7 col-sm-9 mb-4">
<!--         <th:block th:replace="pages/userMgr/stu/stuNavbar :: stuNavbarFragment"></th:block> -->
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-3 mb-4">
        <div class="card">
          <img th:src="@{ '../aa/userImg/'+ ${myInfo.userPic} }" class="img-fluid border-radius-lg shadow"
            th:alt="${myInfo.userPic}">
        </div>
      </div>


      <div class="col-lg-7 col-sm-9 mb-4">
        <div class="card">

          <div class="table-responsive border-radius-lg">
            <table class="table align-items-center text-center mb-0 fw-bold" style="height: 60vh" id="myTable">
              <tr>
                <td class="table-secondary">학번</td>
                <td>[[${myInfo.userId}]]</td>
                <td class="table-secondary">성명</td>
                <td th:text="${myInfo.userName}"></td>
              </tr>
              <tr>
                <td class="table-secondary">학년/학차</td>
                <td>[[${myInfo.studentGrade}]]학년/[[${myInfo.studentSem}]]학기</td>
                <td class="table-secondary">생년월일</td>
                <td>[[${myInfo.userBirth}]]</td>
              </tr>
              <tr>
                <td class="table-secondary">전공</td>
                <td>[[${myInfo.userDept}]]</td>
                <td class="table-secondary">성별</td>
                <td>[[${myInfo.userSex}]]</td>
              </tr>
              <tr>
                <td class="table-secondary">학적상태</td>
                <td>[[${myInfo.studentAcaYn}]]</td>
                <td class="table-secondary">국적</td>
                <td>[[${myInfo.userNation}]]</td>
              </tr>
              <tr>
                <td class="table-secondary">입학일</td>
                <td>[[${myInfo.studentRegdate}]]</td>
                <td class="table-secondary">연락처</td>
                <td>[[${myInfo.userPhone}]]</td>
              </tr>
              <tr>
                <td class="table-secondary">졸업일</td>
                <td>[[${myInfo.studentGraddate}]]</td>
                <td class="table-secondary">이메일</td>
                <td>[[${myInfo.userEmail}]]</td>
              </tr>
              <tr>
                <td class="table-secondary">학점<sub>(이수/졸업)</sub></td>
                <td>[[${myInfo.creditTotal}]]</td>
                <td class="table-secondary">최종성적</td>
                <td>..</td>
              </tr>
            </table>
          </div>

        </div>
      </div>


    </div>




    <!-- 하단 푸터(본문div 안에 있어야 안 어그러짐) -->
    <!--     <th:block th:replace="fragments/footer :: footerFragment"></th:block> -->

  </div>
  <!-- 본문 end-->
</th:block>
</html>