<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">


	<!-- 상단 내비바 -->
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
	<!-- 본문 start -->

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="card p-3 me-3 mt-5 col-10">

				<!-- 각 페이지 타이틀바 -->
				<div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
					<div
						class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
						<h6 class="text-white ps-3 m-0">출석체크</h6>
					</div>
				</div>


					<div class="table-responsive p-0 overflow-auto" style="height: 500px">
				<table id="attendanceTable" class="table align-items-center mb-0 table-hover">
					<thead>
						<tr>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">수업이름</th>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">현재인원</th>
							<th
								class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">출석</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="classId:${classId}">
							<td th:text="|${classId.courseTitle}수업|"></td>
							<td th:text="|인원:${classId.classCk}명|"></td>
							<td><a th:text="출석체크"
								class="btn btn btn-secondary btn-sm movebtn"
								th:href="@{/attendancelist/(classId=${classId.classId })}"></a></td>
						</tr>
					</tbody>
					<!-- 본문 end-->
				</table>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>