<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">

	<!-- 상단 내비바 -->
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
	<div class="container-fluid py-4">
		<!-- 본문 start -->
		<div class="row justify-content-center">
			<div class="card p-3 me-3 col-8">

				<!-- 각 페이지 타이틀바 -->
				<div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
					<div
						class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
						<h6 class="text-white ps-3 m-0">공지 등록</h6>
					</div>
				</div>

				<form action="noticeInsert" method="post"
					enctype="multipart/form-data">
					<div class="container-fluid py-4">
						<div class="input-group input-group-static mb-4">

							<select class="form-control" name="classId">
								<option>강좌 선택</option>
								<th:block th:each="c : ${profClassId}">
									<option th:text="${c.courseTitle}" th:value="${c.classId}"></option>
								</th:block>
							</select> <select class="form-control" name="classNoticeType"
								id="classNoticeType">
								<option value="">구분</option>
								<option value="notice">공지</option>
								<option value="noticedata">자료</option>
							</select>
						</div>

						<div class="input-group input-group-outline my-3">
							<label class="form-label">제목</label> <input type="text"
								class="form-control" name="classNoticeTitle" required>
						</div>

						<div class="input-group input-group-outline my-3">
							<label class="form-label">내용</label>
							<textarea type="text" id="summernote" class="form-control"
								name="classNoticeCon"></textarea>
						</div>

						<script>
							$('#summernote')
									.summernote(
											{
												// 에디터 높이
												height : 150,
												width : 1200,
												// 에디터 한글 설정
												lang : "ko-KR",
												// 에디터에 커서 이동 (input창의 autofocus라고 생각)
												focus : true,
												toolbar : [
														// 글꼴 설정
														[ 'fontname',
																[ 'fontname' ] ],
														// 글자 크기 설정
														[ 'fontsize',
																[ 'fontsize' ] ],
														// 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
														[
																'style',
																[
																		'bold',
																		'italic',
																		'underline',
																		'strikethrough',
																		'clear' ] ],
														// 글자색
														[
																'color',
																[ 'forecolor',
																		'color' ] ],
														// 표만들기
														[ 'table', [ 'table' ] ],
														// 글머리 기호, 번호매기기, 문단정렬
														[
																'para',
																[ 'ul', 'ol',
																		'paragraph' ] ],
														// 줄간격
														[ 'height',
																[ 'height' ] ],
														// 코드보기, 확대해서보기, 도움말
														[
																'view',
																[
																		'codeview',
																		'fullscreen',
																		'help' ] ] ],
												// 추가한 글꼴
												fontNames : [ 'Arial',
														'Arial Black',
														'Comic Sans MS',
														'Courier New', '맑은 고딕',
														'궁서', '굴림체', '굴림',
														'돋음체', '바탕체' ],
												// 추가한 폰트사이즈
												fontSizes : [ '8', '9', '10',
														'11', '12', '14', '16',
														'18', '20', '22', '24',
														'28', '30', '36', '50',
														'72' ]

											});
						</script>

						<div class="input-group input-group-outline my-3">
							<input type="file" class="form-control" multiple="multiple"
								name="classNoticeFileSyl" required> <input type="hidden"
								class="form-control" multiple="multiple"
								name="classNoticeOriginal">
						</div>


						<button class="btn bg-gradient-secondary">등록</button>
				</form>

				<!-- 본문 end-->
			</div>
		</div>
	</div>
	</div>
	</div>
</th:block>
</html>