<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcy.schedule.mapper.SchMapper">

<!-- 학사 일정 표시 (모든 사용자) -->
<select id="allSchProc" resultType="CustomMap">
  select * 
    from k_schedule
   <where>
     sch_type != 'SEMESTER'
     <if test=" param1 != null and param1 != '' ">AND sch_type = #{param1}</if>
     <if test=" param2 != null and param2 != '' ">AND sch_title LIKE concat('%',#{param2},'%')</if>
   </where>
</select>


<!-- 학사 일정 등록 (행정) -->
<insert id="allSchInsert" parameterType="map">
  insert into k_schedule
  values (
    CONCAT (
      SUBSTR(#{schType},1,1), 
      SUBSTR(YEAR(#{schStart}),3,2), 
      '-', (
        select NVL2(sch_id, MAX(SUBSTR(sch_id,5)) + 1, '100')  <!-- sch_id가 널이 아니면 시퀀스, 널이면 100번부터 넘버링 -->
          from k_schedule ks  <!-- 서브쿼리문 대상 테이블이 본쿼리와 동일하면 별칭 달아줘야 오류 안 남 -->
         where sch_type != 'SEMESTER'
           and YEAR(sch_start) = YEAR(#{schStart})
      )
    ),
    STR_TO_DATE(#{schStart},'%Y-%m-%d %H:%i'),
    STR_TO_DATE(#{schEnd},'%Y-%m-%d %H:%i'),
    #{schTitle},
    #{schManager},
    #{schType},
    IF(#{schAllday} = '',NULL,#{schAllday}),
    #{schUuid}
  )
</insert>



<!-- 학사 일정 수정 (행정) -->
<update id="allSchUpdate" parameterType="map">
  update k_schedule
     set sch_id = CONCAT (
            SUBSTR(#{schType},1,1), 
            SUBSTR(YEAR(#{schStart}),3,2), 
            '-', (
              select NVL2(sch_id, MAX(SUBSTR(sch_id,5)) + 1, '100')
                from k_schedule ks
                 where sch_type != 'SEMESTER'
                   and YEAR(sch_start) = YEAR(#{schStart})
              )
            ),
         sch_start = STR_TO_DATE(#{schStart},'%Y-%m-%d %H:%i'),
         sch_end = STR_TO_DATE(#{schEnd},'%Y-%m-%d %H:%i'),
         sch_title = #{schTitle},
         sch_manager = #{schManager},
         sch_type = #{schType},
         sch_allday = IF(#{schAllday} = '',NULL,#{schAllday})
         
   where sch_uuid = #{schUuid}
</update>

<!-- 학사 일정 삭제 (행정) -->
<delete id="allSchDelete">
  delete from k_schedule
  where sch_uuid = #{schUuid}
</delete>

</mapper>