<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcy.bill.mapper.BillsMapper">

<select id="majorbList" resultType="com.kcy.bill.service.MajorbVO">
	SELECT major_id, major_name 
	FROM k_major
	WHERE major_closeday IS NULL; 
</select>

<insert id="billsInsert" parameterType="com.kcy.bill.service.BillsVO">
INSERT INTO k_bills 
( bill_id, bill_year, bill_sem, bill_amount, major_id)
VALUES ( #{billId}, #{billYear}, #{billSem}, #{billAmount}, #{majorbId})
</insert>

<select id="payStdInfo" resultType="com.kcy.bill.service.PayVO">
	SELECT u.user_dept, 
		   kph.pay_h_grade,  
		   kph.pay_h_sem,
		   s.student_aca_yn, 
		   kph.pay_h_total, 
		   kph.pay_h_yn
	FROM k_students s
	JOIN k_users u
	ON s.stu_id = u.user_id
	JOIN k_pay_h kph
	ON s.stu_id = kph.stu_id
	JOIN k_bills b 
	ON kph.bill_id = b.bill_id
	WHERE b.bill_year = #{billYear}
	AND b.bill_sem = #{billSem} 
	AND kph.stu_id = #{stuId}
</select>

<select id="payInfo" resultType="com.kcy.bill.service.PayVO">
	SELECT kph.pay_h_type, 
		   kph.pay_h_remain, 
		   kpd.pay_d_amount, 
		   kpd.pay_d_bank, 
		   kpd.pay_d_day 
	FROM k_pay_h kph
	LEFT JOIN k_pay_d kpd
	ON kph.pay_id = kpd.pay_id
	JOIN k_bills b
	ON kph.bill_id = b.bill_id 
	WHERE b.bill_year = #{billYear} 
	AND b.bill_sem = #{billSem} 
	AND kph.stu_id = #{stuId}
</select>

<select id="payCheck" resultType="com.kcy.bill.service.PayVO">
	SELECT kph.stu_id, 
		   u.user_name, 
		   u.user_dept, 
		   kph.pay_h_grade, 
		   u.user_phone,
		   kph.pay_h_type,
		   kph.pay_h_yn,
		   kpd.pay_d_day 
	FROM k_pay_h kph
	JOIN k_students s 
	ON kph.stu_id = s.stu_id 
	JOIN k_users u 
	ON kph.stu_id = u.user_id
	LEFT JOIN k_pay_d kpd 
	ON kph.pay_id = kpd.pay_id 
	JOIN k_bills kb 
	ON kb.bill_id = kph.bill_id
	<where>
		<if test="billYear != null and billYear != ''">
			and kb.bill_year = #{billYear}
		</if>
		<if test="billSem != null and billSem != ''">
			and kb.bill_sem = #{billSem}
		</if>
		<if test="userDept != null and userDept != ''">
			and u.user_dept = #{userDept} 
		</if>
		<if test="payHType != null and payHType != ''">
			and kph.pay_h_type = #{payHType}
		</if>
		<if test="payHYn != null and payHYn != ''">
			and kph.pay_h_yn = #{payHYn}
		</if>
	</where>
</select>

<insert id="payInsert" parameterType="com.kcy.bill.service.PayVO">
	INSERT INTO k_pay_h (bill_id, pay_h_bal, pay_id, stu_id, pay_h_grade, pay_h_sem)
	SELECT  b.bill_id,
			b.bill_amount,
			CONCAT(s.stu_id, b.bill_id),
			s.stu_id, 
			s.student_grade, 
			s.student_sem
	FROM k_students s
	JOIN k_users u
	ON s.stu_id = u.user_id 
	JOIN k_major m 
	ON m.major_name = u.user_dept
	JOIN k_bills b
	ON m.major_id = b.major_id 
	WHERE b.bill_id = #{billId}
	AND s.student_aca_yn = '재학';	
</insert>

<insert id="chkPayInsert" parameterType="com.kcy.bill.service.PayVO">
	INSERT INTO k_pay_h (bill_id, pay_h_bal, pay_id, stu_id, pay_h_grade, pay_h_sem)
	SELECT  b.bill_id,
			b.bill_amount,
			CONCAT(s.stu_id, b.bill_id),
			s.stu_id, 
			s.student_grade, 
			s.student_sem
	FROM k_students s
	JOIN k_users u
	ON s.stu_id = u.user_id 
	JOIN k_major m 
	ON m.major_name = u.user_dept
	JOIN k_bills b	
	ON m.major_id = b.major_id 
	WHERE b.bill_id IN 
	<foreach collection="billArr" item="billId" separator=",">
		#{billId}
	</foreach>
	AND s.student_aca_yn = '재학';
</insert>

<select id="billCheck" resultType="com.kcy.bill.service.PayVO">
	SELECT s.stu_id, 
		   u.user_name, 
		   u.user_dept, 
		   kph.pay_h_grade, 
		   b.bill_year, 
		   b.bill_sem, 
		   b.bill_amount, 
		   kph.pay_h_type 
	FROM k_students s
	JOIN k_users u 
	ON s.stu_id = u.user_id
	JOIN k_major m 
	ON m.major_name = u.user_dept 
	JOIN k_bills b 
	ON b.major_id = m.major_id 
	JOIN k_pay_h kph
	ON kph.bill_id = b.bill_id  
	WHERE b.bill_year = #{billYear}
	AND b.bill_sem = #{billSem} 
	AND s.stu_id = #{stuId}	
</select>

<select id="billList" resultType="com.kcy.bill.service.BillsVO">
	SELECT DISTINCT b.bill_id, 
		   			b.bill_year, 
		   			b.bill_sem, 
		   			b.bill_amount, 
		   			m.major_name,
		   			m.major_id,
		   			kph.bill_id AS pId
	FROM k_bills b
	JOIN k_major m
	ON b.major_id = m.major_id
	LEFT JOIN k_pay_h kph 
	ON b.bill_id = kph.bill_id 
	<where>
		<if test="billYear != null and billYear != ''">
			and b.bill_year = #{billYear}
		</if>
		<if test="billSem != null and billSem != ''">
			and b.bill_sem = #{billSem}
		</if>
		<if test="majorbId != null and majorbId != ''">
			and m.major_id = #{majorbId}
		</if>
	</where>	
</select>

<update id="billUpdate" parameterType="com.kcy.bill.service.BillsVO">
	UPDATE k_bills 
 	SET bill_amount = #{billAmount}
 	WHERE bill_id = #{billId}
</update>

<update id="payUpdate" parameterType="com.kcy.bill.service.PayVO">
	UPDATE k_pay_h 
	SET pay_h_bal = #{billAmount}
	WHERE bill_id = #{billId}
</update>

</mapper>

