<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!-- 상단 내비바 -->
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

	<!-- 본문 start -->
	<div class="container-fluid">
      <div class="row justify-content-center">
		<div class="card p-3 me-3 col-lg-8 col-md-10 border border-5">
		  <div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
			<div
				class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
				<h6 class="text-white ps-3 m-0">등록금 고지서 등록</h6>
			</div>
		  </div>
			<form action="billsInsert" method="post" onsubmit="return confirm('등록하시겠습니까?');">
				<div class="input-group input-group-outline my-3" hidden="">
					<label class="form-label"></label> <input type="text"
						minlength="9" class="form-control" name="billId" id="billId"
						readonly="readonly" placeholder="년도/학기/학과를 선택해주세요">
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="input-group input-group-outline my-3">
							<input type="number" class="form-control" name="billYear"
								id="billYear" required placeholder="년도">
						</div>
					</div>
					<div class="col-md-4">
						<div class="input-group input-group-outline my-3">
								<input type="number" class="form-control" min="1" max="2"
							name="billSem" id="billSem" required placeholder="학기">
							</div>
					</div>
					<div class="col-md-4">
						<div class="input-group input-group-outline my-3">
							<select class="form-control" name="majorbId" id="majorbId" required>	
							<option value="" disabled selected>학과를 선택해주세요</option>	
								<th:block th:each="mjr : ${majorb}">
									<option th:text="${mjr.majorName}" th:value="${mjr.majorId}"></option>
								</th:block>
							</select>							
						</div>
					</div>
				</div>
				<div class="col-md-4" style="display: none">
						<div class="input-group input-group-outline my-3">
							<input type="text" class="form-control"
									name="hakgi" id="hakgi" required placeholder="학기">
						</div>
					</div>			
				<div class="input-group input-group-outline my-3">
					<label class="form-label">청구액</label> <input type="number"
						class="form-control" name="billAmount" min="0" required>
				</div>
					<button class="btn btn-secondary On" style="width: 100%; margin: 0 auto;">등록금 고지서 등록</button>
			</form>
		</div>
	  </div>
	</di>
	
	<script>
		var msg = '[[${message}]]'

		if (msg != '') {
			alert(msg);
		}
	
		let date = new Date();
		let query = window.location.search;
		let param = new URLSearchParams(query);
		let year = document.getElementById('billYear');		
		let id = param.get('billYear')		
		year.value = id;			
		if (id == null) {
			year.value = date.getFullYear();	
		} else {			
			year.value = id;
		}

		let code = document.getElementById('billId')
		var hakgi = document.getElementById('hakgi')
		

		$(".On").on("click", function() {
			let sem = document.getElementById('billSem').value
			let major = document.getElementById('majorbId').value
			code.value = year.value + sem + major
			hakgi.value = "%"+ sem + "학기%"
		})
	</script>

	<!-- 본문 end-->
</th:block>
</html>