<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
      
<th:block layout:fragment="content">

  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->
  <div class="container-fluid py-4">
  	<div class="row">
	 <h1>등록금 고지서 등록</h1>
	  	
	 <form action="billsInsert" method="post" >
	 	
	 	<div class="input-group input-group-outline my-3">
	      <label class="form-label">청구코드</label>
	      <input type="text" class="form-control On" name="billId" id="billId" readonly="readonly">
    	</div> 
    	
    	<div class="row">
	      <div class="col-md-6">
	    	<div class="input-group input-group-outline my-3">
		      <label class="form-label">년도</label>
		      <input type="number" class="form-control" name="billYear" id="billYear">
	        </div>
	      </div>    	
	      <div class="col-md-6">
	    	<div class="input-group input-group-outline my-3">	    	
		      <label class="form-label">학기</label>
		      <input type="number" class="form-control" min="1" max="2" name="billSem" id="billSem">		            
		    </div>
	      </div>
    	</div>
    	
    	<div class="input-group input-group-outline my-3">
	      <label class="form-label">청구액</label>
	      <input type="number" class="form-control" name="billAmount" required>
    	</div>	
    	
    	<div class="input-group input-group-outline my-3">
          <label class="form-label"></label>
    		<select class="form-control" name="majorbId" id="majorbId">
		     <option value="">학과선택</option>
			   <th:block th:each="mjr : ${majorb}">
			    <option th:text="${mjr.majorName}" th:value="${mjr.majorId}"></option>
			   </th:block>
			</select>
    	</div>
	  	
	  	<button class="btn bg-gradient-primary">고지서 등록</button>
	  	
	 </form>
  	</div>
  </div> 
  
	<script>		
		let date = new Date();
		let year = document.getElementById('billYear');
		year.value = date.getFullYear();
		
		let code = document.getElementById('billId')		

		$(".On").on("click", function () {
		let sem = document.getElementById('billSem').value
		let major = document.getElementById('majorbId').value
		code.value = year.value + sem + major;
	})
	</script>
	
  <!-- 본문 end-->
</th:block>
</html>