<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">

	<!-- 상단 내비바 -->
	<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

	<!-- 본문 start -->
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="card p-3 me-3">
				<div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
					<div
						class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
						<h6 class="text-white ps-3 m-0">등록금 고지서 확인</h6>
					</div>
				</div>
				<form action="billCheck" name="billCheck">
					<div class="row">
						<div class="col-md-3">
							<div class="input-group input-group-outline my-3">
								<label class="form-label"></label> <input type="number"
									class="form-control" name="billYear" id="billYear">
							</div>
						</div>
						<div class="col-md-3">
							<div class="input-group input-group-outline my-3">
								<label class="form-label"></label> <select class="form-control"
									name="billSem" id="billSem">
									<option value="1" th:selected="${payVO.billSem}=='1'">1학기</option>
									<option value="2" th:selected="${payVO.billSem}=='2'">2학기</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="input-group input-group-outline my-3">
								<button class="btn btn-secondary">조회</button>
							</div>
						</div>
				</form>

				<th:block th:each="bill:${billCheck}">
					<h5>상세</h5>
					<div class="col-md-2"
						th:if="${!bill.payHType.toString().equals('b')}">
						<div class="input-group input-group-outline my-3">
							<label class="form-label"></label> <select class="form-control"
								name="payCount" id="payCount" onchange="sm()">
								<option value="">회차선택</option>
								<option value="p1" th:selected="${payVO.payCount}=='p1'">1회차</option>
								<option value="p2" th:selected="${payVO.payCount}=='p2'">2회차</option>
								<option value="p3" th:selected="${payVO.payCount}=='p3'"
									th:if="${bill.payHType.toString().equals('s1')}">3회차</option>
								<option value="p4" th:selected="${payVO.payCount}=='p4'"
									th:if="${bill.payHType.toString().equals('s1')}">4회차</option>
							</select>
						</div>
					</div>

					<table class="table text-center mb-0" id="payList">
						<tr>
							<td class="table-secondary">년도</td>
							<td th:text="${bill.billYear}"></td>
							<td class="table-secondary">학기</td>
							<td th:text="${bill.billSem}"></td>
						</tr>
						<tr>
							<td class="table-secondary">학번</td>
							<td th:text="${bill.userId}"></td>
							<td class="table-secondary">이름</td>
							<td th:text="${bill.userName}"></td>
						</tr>
						<tr>
							<td class="table-secondary">학과</td>
							<td th:text="${bill.userDept}"></td>
							<td class="table-secondary">학년</td>
							<td th:text="${bill.payHGrade}"></td>
						</tr>
						<tr hidden="">
							<td th:text="${bill.payId}" name="payId" id="payId"></td>
							<td th:text="${bill.studentToken}" name="token" id="token"></td>
						</tr>
						<span th:if="${bill.payHType.toString().equals('b')}">
							<tr>
								<td class="table-secondary">등록금 총액</td>
								<td th:text="${bill.billAmount}" name="amt" id="amt"></td>
								<td class="table-secondary">납부방식</td>
								<td><span th:if="${bill.payHType.toString().equals('b')}">일괄납부</span>
									<span th:if="${bill.payHType.toString().equals('s1')}">분할납부A</span>
									<span th:if="${bill.payHType.toString().equals('s2')}">분할납부B</span>
								</td>
							</tr>
							<tr>
								<td class="table-secondary">납부기간</td>
								<td
									th:text="${#calendars.format(bill.kbs, 'yyyy-MM-dd HH:mm')}+' ~ '+${#calendars.format(bill.kbe, 'yyyy-MM-dd HH:mm')}"></td>
							</tr>
						</span>

						<span th:if="${bill.payHType.toString().equals('s1')}">
							<tr>
								<td class="table-secondary">등록금 총액</td>
								<td th:text="${bill.billAmount}" name="amount" id="amount"></td>
								<td class="table-secondary">납부방식</td>
								<td><span th:if="${bill.payHType.toString().equals('b')}">일괄납부</span>
									<span th:if="${bill.payHType.toString().equals('s1')}">분할납부A</span>
									<span th:if="${bill.payHType.toString().equals('s2')}">분할납부B</span>
								</td>
							</tr> <span
							th:if="${payVO.payCount == 'p1'}">
						<tr>
							<td class="table-secondary">1차 분납금액</td>
							<td th:text="${bill.a}" name="first" id="first"></td>
							<td class="table-secondary">납부기간</td>
							<td
								th:text="${#calendars.format(bill.ks1s, 'yyyy-MM-dd HH:mm')}+' ~ '+${#calendars.format(bill.ks1e, 'yyyy-MM-dd HH:mm')}">
							</td>
						</tr>
						<tr>
							<td>
							<button type="button" class="btn btn-secondary payFirst"
									data-bs-toggle="modal" data-bs-target="#payFirst"
									data-bs-whatever="NO">1차 분할 납부</button>
							</td>
						</tr>
						</span>
						<span
							th:if="${payVO.payCount == 'p2'}">
						<tr>
							<td class="table-secondary">2차 분납금액</td>
							<td th:text="${bill.b}"></td>
							<td class="table-secondary">납부기간</td>
							<td
								th:text="${#calendars.format(bill.ks2s, 'yyyy-MM-dd HH:mm')}+' ~ '+${#calendars.format(bill.ks2e, 'yyyy-MM-dd HH:mm')}">
							</td>
						</tr>
						<tr>
							<td><button class="btn btn-secondary ">2차 분납</button></td>
						</tr>
						</span>
						<span
							th:if="${payVO.payCount == 'p3'}">
						<tr>
							<td class="table-secondary">3차 분납금액</td>
							<td th:text="${bill.c}"></td>
							<td class="table-secondary">납부기간</td>
							<td
								th:text="${#calendars.format(bill.ks3s, 'yyyy-MM-dd HH:mm')}+' ~ '+${#calendars.format(bill.ks3e, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
						<tr>
							<td><button class="btn btn-secondary ">3차 분납</button></td>
						</tr>
						</span>
						<span
							th:if="${payVO.payCount == 'p4'}">
						<tr>
							<td class="table-secondary">4차 분납금액</td>
							<td th:text="${bill.d}"></td>
							<td class="table-secondary">납부기간</td>
							<td
								th:text="${#calendars.format(bill.ks4s, 'yyyy-MM-dd HH:mm')}+' ~ '+${#calendars.format(bill.ks4e, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
						<tr>
							<td><button class="btn btn-secondary ">4차 분납</button></td>
						</tr>
						</span>
						</span>

						<span th:if="${bill.payHType.toString().equals('s2')}">
							<tr>
								<td class="table-secondary">등록금 총액</td>
								<td th:text="${bill.billAmount}"></td>
								<td class="table-secondary">납부방식</td>
								<td><span th:if="${bill.payHType.toString().equals('b')}">일괄납부</span>
									<span th:if="${bill.payHType.toString().equals('s1')}">분할납부A</span>
									<span th:if="${bill.payHType.toString().equals('s2')}">분할납부B</span>
								</td>
							</tr>
							<tr
								th:if="${payVO.payCount == 'p1'}">
								<td class="table-secondary">1차 분납금액</td>
								<td th:text="${bill.a}">></td>
								<td class="table-secondary">납부기간</td>
								<td
									th:text="${#calendars.format(bill.ks1s, 'yyyy-MM-dd')}+' ~ '+${#calendars.format(bill.ks1e, 'yyyy-MM-dd')}"></td>
							</tr>
							<tr
								th:if="${payVO.payCount == 'p2'}">
								<td class="table-secondary">2차 분납금액</td>
								<td th:text="${bill.b}">></td>
								<td class="table-secondary">납부기간</td>
								<td
									th:text="${#calendars.format(bill.ks3s, 'yyyy-MM-dd')}+' ~ '+${#calendars.format(bill.ks3e, 'yyyy-MM-dd')}"></td>
							</tr>
						</span>
					</table>

					<span th:if="${bill.payHType.toString().equals('b')}">
						<div class="col-md-3">
							<div class="input-group input-group-outline my-3">
								<button type="button" class="btn btn-secondary change"
									data-bs-toggle="modal" data-bs-target="#change"
									data-bs-whatever="NO">분할 납부 신청</button>
							</div>
						</div>
					</span>

					<span th:if="${!bill.payHType.toString().equals('b')}">
						<div class="col-md-3">
							<div class="input-group input-group-outline my-3">
								<button class="btn btn-secondary cancel">분할 납부 취소</button>
							</div>
						</div>
					</span>
					
					<div class="modal fade" id="change" tabindex="-1"
						aria-labelledby="changeLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="changeLabel">납부 방식 선택</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<p style="color: red;">(변경기간 마감 이후, 추가 변경 및 취소 불가)</p>
									<form action="payChange">
										<div class="mb-3">
											<select class="form-control" name="payHType" id="payHType">
												<option value="s1">분할납부A (4회 분할 납부)</option>
												<option value="s2">분할납부B (2회 분할 납부)</option>
											</select>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">닫기</button>
									<button type="button" class="btn btn-primary on">변경</button>
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="payFirst" tabindex="-1"
						aria-labelledby="payFirstLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="payFirstLabel">납부 방식 선택</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<p style="color: red;">첫 분납금 납부시 선납금을 넣을 수 있습니다</p>
									<form action="payFirst">
									<div class="row">
										<div class="col-md-6">
											<div class="input-group input-group-outline my-3">
												<input type="number" class="form-control" name="s1"
													id="s1" required placeholder="금액">
											</div>										
										</div>										
										<div class="col-md-3">
											<select class="form-control" name="bank" id="bank">
												<option value="농협">농협</option>
												<option value="KB">KB</option>
											</select>
										</div>										
									</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary pay">납부</button>
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">닫기</button>
								</div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</div>

	<script>
		let date = new Date();
		let year = document.getElementById("billYear");
		year.value = date.getFullYear();

		$(".change").on("click", function() {
			var id = document.getElementById("payId").innerHTML;
			$(".on").on("click", function() {
				var select = document.getElementById("payHType").value;
				if (select == 's1') {
					var count = 4
				} else {
					var count = 2
				}
				$.ajax({
					type : "POST",
					url : "/payChange",
					data : {
						payId : id,
						payHType : select,
						payHTotal : count,
						payHRemain : count
					},
					success : function(result) {
						if (result == "1") {
							alert("분할 납부 신청")
							document.location.href = document.location.href;
						}
					}
				});
			});
		});

		$(".payFirst").on("click", function() {
			var id = document.getElementById("payId").innerHTML
			var amount = document.getElementById("amount").innerHTML;
			var first = document.getElementById("first").innerHTML;
			$(".pay").on("click", function() {
				var money = document.getElementById("s1").value;
				var bank = document.getElementById("bank").value;
				var advance = parseInt(first) + parseInt(money);
				var balance = parseInt(amount) - parseInt(advance);
				console.log(id);
				console.log(advance);
				console.log(balance);
				console.log(bank);
	 			$.ajax({
	 				type : "POST",
	 				url : "/firstPay",
	 				data : {
	 					payId : id,
	 					amount : amount,
	 					balance : balance,
	 					advance : advance,
						bank : bank,
					},
	 				success : function(result) {
	 					if (result == "1") {
	 						alert("1차 분할 납부 완료")
	 						document.location.href = document.location.href;
	 					}
	 				}
	 			});
			});
		});
		
		$(".change").on("click", function() {
			var id = document.getElementById("payId").innerHTML;
			$(".on").on("click", function() {
				var select = document.getElementById("payHType").value;
				if (select == 's1') {
					var count = 4
				} else {
					var count = 2
				}
				$.ajax({
					type : "POST",
					url : "/payChange",
					data : {
						payId : id,
						payHType : select,
						payHTotal : count,
						payHRemain : count
					},
					success : function(result) {
						if (result == "1") {
							alert("분할 납부 신청")
							document.location.href = document.location.href;
						}
					}
				});
			});
		});

		function sm() {
			document.billCheck.submit();
		}
	</script>

	<!-- 본문 end-->
</th:block>
</html>