<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcy.quiz.mapper.QuizMapper">

	<!-- 전체 과제 -->
	<select id="QuizList" resultType="map">
		SELECT
    h.class_id, h.quiz_h_title, h.quiz_h_content, h.quiz_h_file, h.quiz_h_id, h.quiz_h_seq, h.quiz_h_original,
    d.quiz_d_date, d.quiz_d_openday, d.quiz_d_closeday, d.quiz_d_id, d.quiz_h_id,
    cm.class_id
		FROM 
			k_quiz_h as h
		JOIN 
			k_quiz_d as d
		ON 	
			h.quiz_h_id = d.quiz_h_id
        JOIN
            k_class_member as cm
        ON 
            h.class_id = cm.class_id
        WHERE 
        	cm.stu_id = #{userId}
	</select>
	
	<!-- 과제 헤더 -->
	<insert id="QuizHInsert">
		<selectKey order="BEFORE" keyProperty="quizHId" resultType="String">
		 select CONCAT("HD", NEXTVAL(quiz_h_id_seq))
		</selectKey>
		INSERT INTO k_quiz_h 
        (class_id, quiz_h_title, quiz_h_content, quiz_h_file, quiz_h_id, quiz_h_seq, quiz_h_original)
		SELECT class_id, #{quizHTitle}, #{quizHContent}, #{quizHFile}, #{quizHId}, NEXTVAL(quiz_seq), #{quizHOriginal}
        FROM k_class
        WHERE prof_id = #{userId} and class_id = #{classId}
	</insert>
	<!-- 과제 date 입력 -->
	<insert id="QuizDInsert">
		INSERT INTO k_quiz_d
		(quiz_d_date, quiz_d_openday, quiz_d_closeday, quiz_d_id, quiz_h_id)
		 select date_format(now(), '%Y%m%d'), #{quizDOpenday}, #{quizDCloseday}, CONCAT("D", NEXTVAL(quiz_d_id_seq)), quiz_h_id
		 from k_quiz_h
		 where quiz_h_id = #{quizHId}
	</insert>
	
	<!-- 과제 선택 세부 -->
	<select id="QuizSelect" resultType="com.kcy.quiz.service.QuizVo">
		SELECT
	h.class_id, h.quiz_h_title, h.quiz_h_content, h.quiz_h_file, h.quiz_h_id, h.quiz_h_seq, h.quiz_h_original,
    d.quiz_d_date, d.quiz_d_openday, d.quiz_d_closeday, d.quiz_d_id, d.quiz_h_id
		FROM
			k_quiz_h as h
		JOIN
			k_quiz_d as d
		ON
			h.quiz_h_id = d.quiz_h_id
		WHERE
			h.quiz_h_seq = #{quizHSeq}
	</select>
	<!-- 과제 제출(학생) -->
	<insert id="QuizAccept">
	       INSERT INTO k_quiz_r
		(quiz_r_content, quiz_r_date, quiz_r_file, quiz_d_id, class_member_id, quiz_r_id, quiz_r_orginal)
        select #{quizRContent}, date_format(now(), '%Y%m%d'), #{quizRFile}, #{quizDId}, class_member_id, CONCAT("R", NEXTVAL(quiz_r_id_seq)), #{quizROriginal}
        from k_class_member
        where stu_id = #{userId} and class_id = #{classId}
	</insert>
	
	<!-- 과제 제출 목록(교수) -->
	<select id="QuizViewList" resultType="map">
      SELECT
			h.quiz_h_title, h.quiz_h_seq, h.class_id,
            c.class_to,
            d.quiz_d_date
		FROM
			k_quiz_h as h
        JOIN
            k_class as c
        ON
            h.class_id = c.class_id
        JOIN
            k_quiz_d as d
        ON
            d.quiz_h_id = h.quiz_h_id
        WHERE
            c.prof_id = #{userId};
	</select>
	
	<select id="QuizView" resultType="com.kcy.quiz.service.QuizVo">
            SELECT
                u.user_name, 
                r.quiz_r_content, r.quiz_r_orginal, r.quiz_r_date, r.quiz_r_id,
                h.quiz_h_seq, h.quiz_h_file,
                d.quiz_h_id,
                cm.class_id, cm.stu_id
            FROM
                k_quiz_r as r
            JOIN
                k_class_member as cm
            ON
                r.class_member_id = cm.class_member_id
            JOIN
                k_users as u
            ON
                u.user_id = cm.stu_id
            JOIN
                k_quiz_d as d
            ON
                r.quiz_d_id = d.quiz_d_id
            JOIN
                k_quiz_h as h
            ON
                d.quiz_h_id = h.quiz_h_id
            WHERE
                h.quiz_h_seq = #{quizHSeq}
	</select>
	
	<select id="QuizDetailView" resultType="com.kcy.quiz.service.QuizVo">
			SELECT
                u.user_name, u.user_id,
                r.quiz_r_content, r.quiz_r_orginal, r.quiz_r_date, r.quiz_r_id,
                h.quiz_h_seq, h.quiz_h_file,
                d.quiz_h_id,
                cm.class_id, cm.stu_id
            FROM
                k_quiz_r as r
            JOIN
                k_class_member as cm
            ON
                r.class_member_id = cm.class_member_id
            JOIN
                k_users as u
            ON
                u.user_id = cm.stu_id
            JOIN
                k_quiz_d as d
            ON
                r.quiz_d_id = d.quiz_d_id
            JOIN
                k_quiz_h as h
            ON
                d.quiz_h_id = h.quiz_h_id
            WHERE
                r.quiz_r_id = #{quizRId}
                and
                u.user_id = #{userId}
	</select>
	
	<select id="getClassId" resultType="com.kcy.quiz.service.QuizVo">
		SELECT
			class_id
		FROM
			k_class
		WHERE
			prof_id = #{userId}
	</select>
	
</mapper>