<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">



<th:block layout:fragment="content">

  <link rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css" />
  <script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>

  <style>
    #allAcaInfos_filter input{
      border: 1px solid #d2d6da;
    }
    
    .pagination .active .page-link {
      background-color: #7b809a;
      border-color: #7b809a;
    }
    
    .page-link:focus {
      box-shadow: 0 0 0 0.2rem rgb(123 128 154 / 25%);
    }
    
  </style>
  <script th:inline="javascript">
    $(function() {
      $('#userMgr').addClass('show');
      
      $('#allAcaInfos').DataTable({
        "order": [0, "desc"],
        "language": {
          "lengthMenu": "페이지 당: _MENU_",
          "search": "검색:",
          "searchPlaceholder": "키워드를 입력하세요",
          "zeroRecords": "검색결과가 없습니다",
          "info": "_START_ - _END_ (전체: _MAX_건)",
          "infoFiltered": "(검색결과: _TOTAL_건)",
          "infoEmpty": "",
          "paginate": {
            "previous": "<",
            "next": ">",
          }
        },
      });
      
      // 항목 클릭 시 세부보기로 이동(DB쿼리 실행 없이 세션스토리지 이용)
      $('#allAcaInfos tbody').on('click', 'tr', function(){
        let stuAcainfo = {
          userName : this.getAttribute('data-userName'),
          userId : this.getAttribute('data-userId'),
          userDept : this.getAttribute('data-userDept'),
          userPhone : this.getAttribute('data-userPhone'),
          acaId : this.getAttribute('data-acaId'),
          acaType : this.getAttribute('data-acaType'),
          acaStartT : this.getAttribute('data-acaStartT'),
          acaStartS : this.getAttribute('data-acaStartS'),
          acaStartE : this.getAttribute('data-acaStartE'),
          acaEndT : this.getAttribute('data-acaEndT'),
          acaEndS : this.getAttribute('data-acaEndS'),
          acaEndE : this.getAttribute('data-acaEndE'),
          acaReason : this.getAttribute('data-acaReason'),
          acaReasonD : this.getAttribute('data-acaReasonD'),
          acaYn : this.getAttribute('data-acaYn'),
          acaReject : this.getAttribute('data-acaReject'),
          acaDate : this.getAttribute('data-acaDate'),
          acaFile : this.getAttribute('data-acaFile')
        }

        // 세션스토리지에 데이터를 담아서
        sessionStorage.setItem("stuAcainfo", JSON.stringify(stuAcainfo));
        
        // 보내줌
        if (stuAcainfo.acaType == '휴학' || stuAcainfo.acaType == '복학' || stuAcainfo.acaType == '자퇴'){
	        location.href="stuAcaView"
        }
        
      })
      
      
      
      
    })
  </script>

  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->
  <div class="container-fluid py-4">

    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-3 mb-4"></div>
      <div class="col-lg-7 col-sm-9 mb-4">
        <!--         <th:block th:replace="pages/userMgr/stu/stuNavbar :: stuNavbarFragment"></th:block> -->
      </div>
    </div>




    <div class="row justify-content-center">
      <div class="card py-3">

        <div class="table-responsive">
          <table id="allAcaInfos" class="table align-items-center table-hover" style="width:100%">
            <thead style="font-weight: bold">
              <tr>
                <td>신청번호</td>
                <td>구분</td>
                <td>학번</td>
                <td>이름</td>
                <td>학적변동 기간</td>
                <td>학적변동 사유</td>
                <td>신청일자</td>
                <td>승인 여부</td>
                <td>반려 사유</td>
                <td>첨부파일</td>
              </tr>
            </thead>
            <tbody>
            
              <!-- DB로부터 전체 레코드를 뽑아와서 단순히 DataTables의 스타일만 적용하는 경우 -->
              <tr th:each="item : ${allAcaInfos}" 
                  th:data-userName="${item.userName}"
                  th:data-userId="${item.userId}"
                  th:data-userDept="${item.userDept}"
                  th:data-userPhone="${item.userPhone}"
                  th:data-acaId="${item.acaId}"
                  th:data-acaType="${item.acaType}"
                  th:data-acaStartT="${item.acaStartT}"
                  th:data-acaStartS="${item.acaStartS}"
                  th:data-acaStartE="${item.acaStartE}"
                  th:data-acaEndT="${item.acaEndT}"
                  th:data-acaEndS="${item.acaEndS}"
                  th:data-acaEndE="${item.acaEndE}"
                  th:data-acaReason="${item.acaReason}"
                  th:data-acaReasonD="${item.acaReasonD}"
                  th:data-acaYn="${item.acaYn}"
                  th:data-acaReject="${item.acaReject}"
                  th:data-acaDate="${item.acaDate}"
                  th:data-acaFile="${item.acaFile}"
                  >
                <td>[[${item.acaId}]]</td>
                <td>[[${item.acaType}]]</td>
                <td>[[${item.userId}]]</td>
                <td>[[${item.userName}]]</td>
                <td>
                  <th:block th:if="${item.acaType != '휴학'} and ${item.acaType != '복학'} and ${item.acaType != '자퇴'}">
                    [[${item.acaStart}]] ~ [[${item.acaEnd}]]</th:block>
                  <th:block th:if="${item.acaType == '휴학'} or ${item.acaType == '복학'}">
                    [[${item.acaStartT}]] ~ [[${item.acaEndT}]]</th:block>
                </td>
                <td>[[${item.acaReason}]]</td>
                <td th:text="${#calendars.format(item.acaDate,'yyyy-MM-dd hh:mm')}"></td>
                <td>[[${item.acaYn}]]</td>
                <td th:text="${#strings.abbreviate(item.acaReject,10)}"></td>
                <td>[[${item.acaFile}]]</td>
              </tr>
              
              <!-- DataTables의 Server-side processing을 이용(진정한 의미의 페이징) -->
            </tbody>
          </table>
        </div>

      </div>
    </div>


  </div>
  <!-- 본문 end-->
</th:block>
</html>