<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcy.schedule.notice.mapper.NoNoticeMapper">
<!-- 정철우  -->

	<!-- 공지 등록 -->
	<insert id="noticeInsert" parameterType="com.kcy.schedule.notice.service.NoNoticeVo">
		INSERT INTO k_notice(notice_id, notice_title, notice_content, notice_date, notice_hit)
		VALUES
		( 
			NEXTVAL(sq_notice_id), 
			#{NoticeTitle}, 
			#{NoticeContent}, 
			#{NoticeDate},
			default
		)
	</insert>
	
	<select id="noticeList" resultType="map">
		SELECT
			*
		FROM
			k_notice
		order by 1 desc

	</select>
	
	<update id="noticeModify">
		UPDATE
			k_notice
		SET
			notice_title = #{NoticeTitle}, notice_content = #{NoticeContent}, notice_update_date = #{NoticeUpdateDate}
		WHERE
			notice_id = #{NoticeId}
	</update>
	<update id="hitUp">
		UPDATE
			k_notice
		SET
			notice_hit = (select Max(notice_hit)+1 from k_notice WHERE
			notice_id = #{NoticeId})
		WHERE
			notice_id = #{NoticeId}
	</update>
	<delete id="noticeDelete">
		DELETE FROM k_notice
		WHERE notice_id= #{NoticeId}
	</delete>
	
	<select id="noticeView" resultType="com.kcy.schedule.notice.service.NoNoticeVo" parameterType="String">
		SELECT
			*
		FROM
			k_notice
		WHERE
			notice_id = #{NoticeId}
	</select>
	

	
</mapper>