<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcy.mentoring.schedule.mapper.CalenMapper">

	<select id="calendarSelectList" resultType="com.kcy.mentoring.schedule.vo.scheduleVO">
		SELECT *
		FROM k_mentoring_schedule join k_sch_times on k_mentoring_schedule.mtr_sch_timecode = k_sch_times.mtr_sch_timecode
	</select>
		<insert id="calendarInsert" parameterType="com.kcy.mentoring.schedule.vo.scheduleVO">
	 insert into k_mentoring_schedule values
	 (nextval(scheduleSeq),#{profId},#{mtrSchDate},#{mtrSchTimecode})
	</insert>
</mapper>