<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org" >

<th:block layout:fragment="content">

  <style>
    /* 모달닫기 꼽표(x) span */
    #closeModal { 
      cursor: default /* 커서 모양 화살표로 */
    }
    #closeModal:hover { 
      font-size: larger;
    }
    
    /* 토,일요일 */
    .fc-day-sat {
      background-color: lightcyan;
    }
    .fc-day-sun {
      background-color: lavenderblush;
    }
    /* 날짜 레이블 */
    .fc a[data-navlink]:hover {
      font-weight: bold;
      text-decoration: none;
      color: #344767;
    }
    /* 이벤트 호버 */
    .fc-daygrid-event-harness a:hover {
      color: black;
      outline: 3px solid black !important;
      z-index: 999;
    }
    /* 일자 선택 칸 테두리 */
    .fc-highlight {
      outline: 2px solid black !important;
    }
    
  </style>
  
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
      
      // 사용자권한 변수
      let role = [[${#authentication.authorities[0].authority}]];
      
      // 두 날짜 차이 구하기 함수 (매개값으로 날짜형식같이 생긴 스트링값이면 인식함)
      const getDateDiff = (d1, d2) => {
        const date1 = new Date(d1);
        const date2 = new Date(d2);
        
        const diffDate = date1.getTime() - date2.getTime();
        
        return diffDate / (1000 * 60 * 60 * 24);
      }
      
      // uuid 생성 함수
      function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
          return v.toString(16);
        });
      }
      let uuid;
      
      // 이벤트 색상 정의
      function eventColor (item) {
        switch (item) {
          case 'APPLY': return '#03a9f4'
            break;
          case 'CLASS': return '#4caf50'
            break;
          case 'EXAM': return '#fb8c00'
            break;
          case 'GENERAL': return '#7b809a'
            break;
          case 'HOLIDAY': return '#f44335'
            break;
        }
      }
      
      // datetimepicker 당일의 선택 가능 시작 제한
      let limitDTP = function (sd) {
        // sd(선택한 일시)의 연월일이 현재시각의 연월일과 같을 경우
        if( moment(sd).format('YYYY-MM-DD') == moment().format('YYYY-MM-DD') ) {
          this.setOptions({
            minTime: 0,
          });
        } else {
          this.setOptions({
            minTime: '00:00',
          });
        }
//      onSelectDate: function (sd) {
//      console.log(sd.getTime());
//      console.log(moment(moment().format('YYYY-MM-DD')).toDate().getTime()); // .toDate(): moment날짜타입을 JS날짜타입으로 변환
//      console.log(new Date(moment(moment().format('YYYY-MM-DD'))).getTime()); // └new Date()로 감싸주는 것과 동일
//      console.log(sd.getTime() == new Date(moment(moment().format('YYYY-MM-DD'))).getTime());
//      // JS날짜는 등호연산자(==)로 직접비교하면 값이 똑같아도 무조건 false임.
//      // getTime(), getDay() 등으로 변환하고 비교해야 true 나옴
      }
      
      // datetimepicker 생성 함수
      function makeDTP () {
        jQuery.datetimepicker.setLocale('kr');
        $('#schS, #schE').datetimepicker({
          format: 'Y-m-d (D) H:i',
          minDate: 0, // today
          onShow: limitDTP, // 피커 열릴 때 동작
          onChangeDateTime: limitDTP, // 날짜 바뀔 때 동작
          step: 30,
          defaultTime: '00:00',
//           closeOnTimeSelect: false,
          validateOnBlur: false, // 이거 false해줘야 인풋창 바깥 눌렀을때 초기화(=현재시각) 안 됨. 또한 위치주의!! 이 옵션은 맨 밑에 가야 함
        });
      }
      
      
//    $('#btn-showSchInsert').on('click', function(){
//    // $('#allday').removeAttr('disabled'); // *모든 버그의 원흉!! 이걸 안 적어줘서 애먼 그 아래 input에 계속 자동 focus되는 개같은 논리버그가.. 
//    // →9.15. 자유도도 늘릴 겸 락 기능 자체를 안하기로 함(위에 풀캘린터 스크립트에서도 관련 코드 다 뺌) 뭐만하면 계속 논리버그터져서
//      makeDTP (); // DT피커 생성
//    })
   
      // 모달 열릴 때
      $('#modal-sch').on('show.bs.modal', function(){
        // 행정처일 경우만 DT피커 생성
        if (role == 'ROLE_ADMIN'){
          makeDTP ();
        }
      });
      
      // 모달 닫을 때 폼 초기화
      $('#modal-sch').on('hidden.bs.modal', function(){
        $(this).find('form')[0].reset();
        $('#schE').removeAttr('disabled');
        
        // is-filled: 인풋창 애니메이션 상태 OFF (다시 모달 켰을 때 input들 모양 바로잡기)
        $('#schS').parent().removeClass('is-filled'); 
        $('#schE').parent().removeClass('is-filled');
        $('#schT').parent().removeClass('is-filled');
        $('#schM').parent().removeClass('is-filled');
        $('#schType').removeAttr('style');
        
        // DT피커 소멸
        $('#schS').datetimepicker('destroy');
        $('#schE').datetimepicker('destroy');
        
        // 버튼 ON/OFF
        $('#btn-schInsert').removeClass('d-none') // 등록버튼 ON
        $('#btn-schUpdate').addClass('d-none') // 수정버튼 OFF
        $('#btn-schDelete').addClass('d-none') // 삭제버튼 OFF
      })
      
      
      
      
///////////////////////////////////////////////////////////////////////////////////////////////
      // 초기 로딩 시 바로 캘린더 호출
      $.ajax ({
        url: '/allSchProc',
        success: function (data) {
//           console.log(data);
          allSch(data);
        }
      })
      
      // Start: 캘린더콜백함수
      function allSch (data) {
        var calendarEl = document.getElementById('allSch');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          
          
//////////////////////////////////////////////////////////////////////////////////////
          // 1. 캘린더 view 세팅
          
          height: 'auto', // 화면 맞춤
          locale: 'kr',
          displayEventEnd: true,
          initialView: 'dayGridMonth',
          
          customButtons: {
            // 일정등록버튼(행정)
            newBtn: {
              text: '일정등록',
              click: function() {
                $('#modal-sch').modal('show');
              }
            },
            // 일정구분필터버튼(모든 사용자)
            filterBtn: {
              text: '일정구분',
              click: function() {
                console.log()
              }
            }
          },
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'newBtn filterBtn dayGridMonth,timeGridWeek,timeGridDay,listWeek'
          },
          viewDidMount: function () { // 렌더된 후 요소 조작
            // 일정등록 버튼 권한 부여
            let newBtn = $('.fc-newBtn-button');
            if (role != 'ROLE_ADMIN'){
              // 9.21.최종결정. 여기 풀캘 커스텀 버튼 한정 display=none이 버그없이 깔-끔하게 100% 가장 효과적으로 요소 감춰줌. 
              // +보험으로 밑에 remove()까지 넣고 확인사살을 한다. 
              // 혹시나 만약 학생,교수같은 비권한 이용자가 브라우저에서 개발자도구를 켜서 소스들을 볼 줄 알고, 
              // 때마침 아래 remove()가 버그로 인해 요소삭제가 안되었는데, 
              // 때마침 굳이 일정등록을 찾아 display none을 해제시켜서 일정버튼을 누른다 한들, 
              // 2차 보험으로 모든 인풋이 readonly처리가 되어있다 걱정말자. 
              // 어찌어찌 readonly까지 풀어서 내용 수정했다 한들, 
              // 3차 보험으로 폼 하단 등록/수정/삭제 실행버튼 자체에 sec:authorize가 걸려있어서 아예 html에 존재조차 안 함. 
              // 어찌어찌 그럼에도 어찌어찌 요청 ajax주소를 알아냈다 한들,
              // 4차 보험으로 빽단 SecurityConfig에서 antMatchers로 요청 권한 자체를 막아놓음.
              // 결론은 그 어떤 경우라도 행정처 아닌 유저는 절대로 등록/수정/삭제가 불가하다 이말이다. 이정도만 해도 충분하다 본다.
              // (풀캘 커스텀버튼은 유명무실한 반쪽짜리 커스텀 버튼인 거 같다. 자유도가 너무 없이 빡빡하다. 스택오버플로우 등지에도 원성이 자자하다.)
              newBtn.css('display','none'); 
              newBtn.remove(); // 알수없는 버그존재. month-week-day-list 뷰들을 왔다갔다 하다보면 랜덤 패턴으로 remove()가 안 먹는 상황이 있음. 말그대로 특정 패턴 유추가 불가한 쌩랜덤임(아마 풀캘 스크립트상 뷰 뿌리는 코드와 이거랑 아주 미세한 시간차 버그인 듯?). 그래도 보험으로 일단은 걸어놓는다.
            };
            
            // 일정구분필터 기능
            let filterBtn = $('.fc-filterBtn-button');
            filterBtn.addClass('btn dropdown-toggle');
            filterBtn.attr('data-bs-toggle','dropdown');
            filterBtn.after(`
                <ul class="dropdown-menu" style="border: solid 1px black">
                <li><a class="dropdown-item eFilter" href="#">전체</a></li>
                <li><a class="dropdown-item eFilter" href="#">일반</a></li>
                <li><a class="dropdown-item eFilter" href="#">신청</a></li>
                <li><a class="dropdown-item eFilter" href="#">수업</a></li>
                <li><a class="dropdown-item eFilter" href="#">시험</a></li>
                <li><a class="dropdown-item eFilter" href="#">공휴일</a></li>
              </ul>
            `)
            
            let schType;
            $('.eFilter').on('click', function(){
              if (this.innerText == '전체') {
                schType = ''
              } else if (this.innerText == '일반') {
                schType = 'GENERAL'
              } else if (this.innerText == '신청') {
                schType = 'APPLY'
              } else if (this.innerText == '수업') {
                schType = 'CLASS'
              } else if (this.innerText == '시험') {
                schType = 'EXAM'
              } else if (this.innerText == '공휴일') {
                schType = 'HOLIDAY'
              }
              $.ajax ({
                url: '/allSchProc',
                data: { schType : schType },
                success: function (data) {
                  allSch(data);
                }
              })
            })
            
            
            
          },
          navLinks: true, // 달력에서 일 글자 클릭시 day뷰로 전환
          
          eventTimeFormat: {
            hour: '2-digit',
            minute: '2-digit',
            meridiem: false,
            hour12: false // 24시간제
          },
          slotLabelFormat: {
            hour: '2-digit',
            minute: '2-digit',
            meridiem: false,
            hour12: false
          },
          
//////////////////////////////////////////////////////////////////////////////////////
          // 2. 데이터 Parsing
          
          // 개꿀 기능! sql문 각 칼럼 AS 쓸 필요 없이 *로 조지고 여기서 약속key명(title,start등)으로 매칭해주자
          // (매칭 안해준 속성들이라도 이벤트.extendedProps 하위에 들어감)
          eventDataTransform: function (data) {
            data.id = data.schUuid;
            data.title = data.schTitle;
            data.start = data.schStart;
            data.end = data.schEnd;
            data.allDay = data.schAllday;
            data.color = eventColor(data.schType)
            return data;
          },
          events: data, // 일정들[]
          
          // 이벤트 꾸미기
          eventContent: function(arg) {
//             console.log(arg.event)
            // 이벤트막대 밖으로 타이틀이 삐져나오는 거 방지(이거 꼭 해줘야 빈칸이랑 이벤이랑 확실히 구분됨)
            $('.fc-event-main').css('overflow','hidden'); 
            
            let startHm = moment(arg.event.start).format('HH:mm')
            return {
              // 24:00표시 없애기
              html: `
                <span class="me-1 fw-bold text-decoration-underline">${ startHm == '00:00' ? '' : startHm }</span> 
                <span>${ arg.event.title }</span>
              `
            }
          },
          
          
//////////////////////////////////////////////////////////////////////////////////////
          // 3. 칸 선택
          
          editable: true,
          selectable: true, // 권한별 제한은 저기 밑에 캘린더 객체render 이후에 조작
          // 일자 선택 범위 제한
          selectAllow: function (info) {
            if(info.start > moment().add(-1,'d')){
              return true;
            }
          },
          
          // Start: select(칸 선택 시)
          select: function (arg) {
            // 지난 일자 선택시 처리 (→selectAllow로 대체함)
//             if (arg.start < new Date() ) {
//               Kcy.fire({
//                 icon: 'error',
//                 title: '지난 일정은 등록이 불가능합니다',
//                 html: '<h5>당일 일정은 [일정등록]버튼으로 등록해주세요</h6>',
//               })

            // 정상 일자 선택 시
            console.log(arg); // 선택액션만으로 여러값들이 자동 생성된다 확인해보자
            
            // uuid 생성
            uuid = uuidv4();
            
            // 풀캘린더의 요상한 select방식(예: 달력상으로 23일까지 선택하면 24일00시를 end로 잡음)을 직관적으로 처리해보자!
            let fmStart = moment(arg.start).format('YYYY-MM-DD (dd)');
            let fmTimeS = moment(arg.start).format('HH:mm');
            let fmEnd = moment(arg.end).format('YYYY-MM-DD (dd)');
            let fmTimeE = moment(arg.end).format('HH:mm');
            let fmEndPrev = moment(arg.end).add(-1,'d').format('YYYY-MM-DD (dd)');
            
            // dur은 쉽게말해 달력에서 선택한 칸 수가 된다
            let dur = getDateDiff(arg.endStr, arg.startStr);
            console.log(dur)
            
            // 폼에 정보 넣기 ↓
            // 모든 경우에 공통적으로 일단 삽입
            $('#schS').val(fmStart + ' ' + fmTimeS);
            $('#schE').val(fmEnd + ' ' + fmTimeE);
            
            // 시작시간이 00:00이고, 기간이 만24시간이면
            if (fmTimeS == '00:00' && dur == 1) {
              $('#allday').click(); // prop(체크,true)하는 거보다 이렇게 직접 클릭 트리거를 줘야 밑에서 정의한 체크박스 관련 코드들이 연쇄적으로 적용된다!
            // 시작시간이 00:00이고, 일단위로 2일 이상 선택 시
            } else if (fmTimeS == '00:00' && Number.isInteger(dur) && dur > 1) {
              $('#schS').val(fmStart);
              $('#schE').val(fmEndPrev);
            }
            
            // is-filled: 인풋창 애니메이션 상태 ON (해야 이뿌게 나옴)
            $('#schS').parent().addClass('is-filled');
            $('#schE').parent().addClass('is-filled');
            
            // 모달 켜기
            $('#modal-sch').modal('show');
            
          }, // End: select(칸 선택 시)
          
          
          
//////////////////////////////////////////////////////////////////////////////////////
          // 4. 이벤트 선택
          
          // Start: eventClick(이벤트 선택 시)
          eventClick : function (arg) {
            
            // uuid 세팅
            uuid = arg.event.id;
            console.log('선택한이벤트의uuid: ' + uuid);
            
            let fmStart = moment(arg.event.start).format('YYYY-MM-DD (dd)');
            let fmTimeS = moment(arg.event.start).format('HH:mm');
            let fmEnd = moment(arg.event.end).format('YYYY-MM-DD (dd)');
            let fmTimeE = moment(arg.event.end).format('HH:mm');
            let fmEndPrev = moment(arg.event.end).add(-1,'d').format('YYYY-MM-DD (dd)');
            let dur = getDateDiff(arg.event.end, arg.event.start);
            console.log(arg)
            console.log(dur)
            // 폼에 정보 넣기 ↓
            // 모든 경우에 공통적으로 일단 삽입
            $('#schS').val(fmStart + ' ' + fmTimeS);
            $('#schE').val(fmEnd + ' ' + fmTimeE);
            $('#schT').val(arg.event.title)
            $('#schM').val(arg.event.extendedProps.schManager)
            $('#schType').val(arg.event.extendedProps.schType)
            // 시작시간이 00:00이고, end가 없으면 (= 단일 종일 일정일 경우)
            if (fmTimeS == '00:00' && arg.event.end == null) {
              $('#allday').click();
            // 시작시간이 00:00이고, 일단위로 2일 이상이면
            } else if (fmTimeS == '00:00' && Number.isInteger(dur) && dur > 1) {
              $('#schS').val(fmStart);
              $('#schE').val(fmEndPrev);
            }
            // 이뿌게
            $('#schS').parent().addClass('is-filled');
            $('#schE').parent().addClass('is-filled');
            $('#schT').parent().addClass('is-filled');
            $('#schM').parent().addClass('is-filled');
            $('#schType').css({
              'border':'solid black 2px', 
              'font-weight':'bold' , 
              'color':$("option:selected", $('#schType')).css('color') , 
              'background-color':$("option:selected", $('#schType')).css('background-color')
            });
            $('#btn-schInsert').addClass('d-none') // 등록버튼 OFF
            $('#btn-schUpdate').removeClass('d-none') // 수정버튼 ON
            $('#btn-schDelete').removeClass('d-none') // 삭제버튼 ON
            // 모달 켜기
            $('#modal-sch').modal('show');
            
          }, // End: eventClick(이벤트 선택 시)
          
          
//////////////////////////////////////////////////////////////////////////////////////

          // Start: eventDrop(이벤트 드래그 시)
          eventDrop : function (info) {
            
//             let ebar = $(info.el).find('.fc-event-main');
//             console.log(ebar);
//             $(info.el).find('.fc-event-main .fa-wrench').removeClass('d-none')
//             ebar.prepend('<i class="fa-solid fa-wrench"></i>')
          },


//////////////////////////////////////////////////////////////////////////////////////

        }); // End: 캘린더객체
//         console.log( calendar.getEventById('A22-153') ); // 이벤트id로 일정 확인
//         console.log( calendar.getEvents() ); // 전체 일정 뽑기

        // 캘린더 그리기!
        calendar.render();
        
        // 사용자 권한 제한
        if (role != 'ROLE_ADMIN') {
          calendar.setOption('selectable', false)
          calendar.setOption('editable', false)
//           $('.fc-newBtn-button').remove(); // 9.21.예외발견. 초기로딩시 월달력(month뷰)에서만 먹히고, 다른뷰(week,day등)에서는 안먹힘!! 그래서 저기 위에 객체 내부에서 viewDidMount로 처리하기로 함.
          $('form input').prop('readonly', true)
          $('form select').prop('disabled', true)
          // checkbox 체크박스 checked disabled 속성으로 논리적으로 제한하려니깐 너무 버그 많고 복잡해짐
          // 아예 투명 덮개를 씌워서 클릭 못하게 막자
          $('#allday').before(`<div style="
            position: absolute;
//             border: 1px solid black;	
            left: 0px;
            width: 100%; 
            height: 70px;
            z-index: 999;
          "></div>`)
        };
        
        
        
      
        
        
        
        
        
//////////////////////////////////////////////////////////////////////////////////////
////////// 데이터 쓰기 파트 //////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
        
        // Start: 함수(데이터준비)
        function prepareData () {
          
          // 삭제는 여기에서 바로 실행
          if (cmd == 'delete') {
            deleteProc();
          
          // 본격 데이터 준비
          } else if ($('#schS').val() == '' || $('#schS').val() == null) {
            event.preventDefault(); // submit이벤트버블링 차단 → 9.17. 그냥 type을 button으로 변경함(어차피 form action으로 안 날림)
            Kcy.fire({
              icon: 'error',
              html: '<h5>시작일시는 필수입니다</h5>',
            })
          } else if (cmd == 'insert' && moment($('#schS').val()) < moment() ) {
            event.preventDefault();
            Kcy.fire({
              icon: 'error',
              html: '<h5>시작일시는 현재 이후여야 합니다</h5><br><h6>(당일은 종일을 선택할 수 없습니다)</h6>',
            })
          } else if ( getDateDiff($('#schE').val(), $('#schS').val()) <= 0 ) {
            event.preventDefault();
            Kcy.fire({
              icon: 'error',
              html: '<h5>종료일시는 시작일시보다 이후여야 합니다</h5>',
            })
          } else if ($('#schT').val() == '' || $('#schT').val() == null) {
            event.preventDefault();
            Kcy.fire({
              icon: 'error',
              html: '<h5>내용은 필수입니다</h5>',
            })
          } else if ($('#schM').val() == '' || $('#schM').val() == null) {
            event.preventDefault();
            Kcy.fire({
              icon: 'error',
              html: '<h5>담당자는 필수입니다</h5>',
            })
          } else if ($('#schType').val() == '' || $('#schType').val() == null) {
            event.preventDefault();
            Kcy.fire({
              icon: 'error',
              html: '<h5>일정구분은 필수입니다</h5>',
            })
          
          // Start: else(폼 작성 정상 완료 시 진행)
          } else {
            event.preventDefault();
            
              // 요일 지우기
              // 정규식: 1. 따옴표'' 대신 //gi로 감싼다고 생각
              //         2. 특수문자 자체를 스트링으로 적고 싶으면 \붙임. 여기선 괄호니깐 \(
              //         3. 모든 문자 찾고싶으면 걍 아스타 말고 쩜별.*
            let inputStart =  $('#schS').val().replace(/ \(.*\)/gi,'');
            let inputEnd = $('#schE').val().replace(/ \(.*\)/gi,'');
            let fmiS = moment(inputStart).format('YYYY-MM-DD');
            let fmTimeiS = moment(inputStart).format('HH:mm');
            let fmiE = moment(inputEnd).format('YYYY-MM-DD');
            let fmTimeiE = moment(inputEnd).format('HH:mm');
            let fmiENext = moment(inputEnd).add(1,'d').format('YYYY-MM-DD');
            
            let inputManager = $('#schM').val();
            let inputType = $('#schType').val();
            let inputTitle = $('#schT').val();
            let fcColor = eventColor(inputType);
            
              // 종일 및 끝일 처리
              // null이든 ''이든 비워주는게 매우중요! DB에 false라고 저장하면 안됨! 풀캘린더가 제대로 인식을 못함! 
            let inputAllday = $('#allday').is(':checked') ? true : null
             
            let dur = getDateDiff(inputEnd, inputStart);
            console.log(inputEnd)
            console.log(inputStart)
            console.log(dur)
              
              
              // 종일스위치 ON일 경우
            if (inputAllday) {
              dur = 1;
              // 종일스위치는 OFF지만 일단위로 선택한 경우 (핵심코드!!!!! 이걸 처리해줘야 달력이벤트에 개같은 24:00 표시가 사라진다!)
            } else if (fmTimeiS == '00:00' && Number.isInteger(dur)) {
              dur = getDateDiff(fmiENext, inputStart);
              inputAllday = true; // 종일스위치 ON한 걸로 간주하면서
              inputEnd = fmiENext; // 종료일은 익일로 대치한다!!
            }
            // 여기서 dur은 코드 검증용 도구임
            // 어떠한 경우에도 저~기 위에 날짜선택시 dur값과 여기 dur값이 같아야 함
            console.log(dur)
            console.log(inputEnd)
            console.log(fmiENext)
            
            
            // DB로 보낼 데이터 정의
            let ajaxdata = {
              schStart : inputStart,
              schEnd : inputEnd,
              schManager : inputManager,
              schType : inputType,
              schTitle : inputTitle,
              schAllday : inputAllday,
              schUuid : uuid
            }
            
            // 캘린더에 반영할 데이터 정의
            let fcData = {
              id: uuid,
              start: moment(inputStart).format('YYYY-MM-DD HH:mm'),
              end: inputEnd ? moment(inputEnd).format('YYYY-MM-DD HH:mm') : null,
              title: inputTitle,
              allDay: inputAllday,
              color: fcColor,
              schManager: inputManager,
              schType: inputType,
            };
            console.log(fcData)
            
            // 기능 실행 함수로 연결 (삭제는 input 빈상태로도 가능해야 하므로 저~기 맨 위에 위치)
            switch (cmd) {
              case 'insert' : insertProc(ajaxdata,fcData);
                break;
              case 'update' : updateProc(ajaxdata,fcData);
                break;
            }
            
            
          } // End: else(폼 작성 정상 완료 시 진행)
        } // End: 함수(데이터준비)
        
        
        
        
//////////////////////////////////////////////////////////////////////////////////////

        // Start: 함수(등록실행)
        function insertProc (ajaxdata,fcData){
          Kcy.fire({
            title: '등록하시겠습니까?',
            icon: 'warning',
            confirmButtonText: '등록',
            showCancelButton: true,
            cancelButtonText: '취소',
            preConfirm: function () {
              
              // DB에 반영
              return $.ajax ({ // return을 붙여줘야 응답실패시 .then으로 넘어가지 않고 현 알럿에서 오류 보여줌!
                url: '/allSchInsert',
                type: 'POST',
                data: ajaxdata,
                success: () => {
                // 캘린더에 반영 (새로고침하여 ajax에서 불러들인 모양과 똑같은지 반드시 검증하자!)
                  calendar.addEvent(fcData);
                },
                error: (e) => { 
                  console.log(e);
                  Kcy.showValidationMessage(
                      `요청실패: ${e.status} ${e.responseJSON.error} `
                  )
                }
              })
              
            },
          }).then((result) => {
            if (result.isConfirmed) {
              Kcy.fire(
                '등록완료!',
                '',
                'success'
              )
            }
          })
        } // End: 함수(등록실행)
        
        
        
//////////////////////////////////////////////////////////////////////////////////////

        // Start: 함수(수정실행)
        function updateProc (ajaxdata,fcData){
          Kcy.fire({
            title: '수정하시겠습니까?',
            icon: 'warning',
            confirmButtonText: '수정',
            showCancelButton: true,
            cancelButtonText: '취소',
            preConfirm: function () {
              
              // DB에 반영
              return $.ajax ({
                url: '/allSchUpdate',
                type: 'POST',
                data: ajaxdata,
                success: () => {
                // 캘린더에 반영
                  var event = calendar.getEventById(uuid);
                  console.log(event);
                  event.setDates(fcData.start, fcData.end, {'allDay': fcData.allDay});
                  event.setProp('title', fcData.title);
                  event.setProp('color', eventColor(fcData.schType));
                  event.setExtendedProp('schManager', fcData.schManager)
                  event.setExtendedProp('schType', fcData.schType)
                },
                error: (e) => { 
                  console.log(e);
                  Kcy.showValidationMessage(
                      `요청실패: ${e.status} ${e.responseJSON.error} `
                  )
                }
              })
              
            },
          }).then((result) => {
            if (result.isConfirmed) {
              Kcy.fire(
                '수정완료!',
                '',
                'success'
              )
            }
          })
        } // End: 함수(수정실행)
        
        
        
//////////////////////////////////////////////////////////////////////////////////////

        // Start: 함수(삭제실행)
        function deleteProc (){
          Kcy.fire({
            title: '삭제하시겠습니까?',
            icon: 'warning',
            confirmButtonText: '삭제',
            showCancelButton: true,
            cancelButtonText: '취소',
            preConfirm: function () {
              // DB에 반영
              return $.ajax ({
                url: '/allSchDelete',
                type: 'POST',
                data: 'schUuid=' + uuid,
                success: () => {
                // 캘린더에 반영
                  var event = calendar.getEventById(uuid);
                  console.log(event);
                  event.remove();
                },
                error: (e) => { 
                  console.log(e);
                  Kcy.showValidationMessage(
                      `요청실패: ${e.status} ${e.responseJSON.error} `
                  )
                }
              })
              
            },
            allowOutsideClick: () => !Swal.isLoading()
          }).then((result) => {
            if (result.isConfirmed) {
              Kcy.fire(
                '삭제완료!',
                '',
                'success'
              )
            }
          })
        } // End: 함수(삭제실행)
        
        
//////////////////////////////////////////////////////////////////////////////////////
        
        let cmd;
        // 일정등록>등록 버튼 클릭시
        $('#btn-schInsert').on('click', function(){
          cmd = 'insert';
          prepareData();
        })
        // 이벤트클릭>수정 버튼 클릭시
        $('#btn-schUpdate').on('click', function(){
          cmd = 'update';
          prepareData();
        })
        // 이벤트클릭>삭제 버튼 클릭시
        $('#btn-schDelete').on('click', function(){
          cmd = 'delete';
          prepareData();
        })
        
        
        
        
        
      } // End: 캘린더콜백함수
      
    })
  </script>

  <!-- 상단 내비바 -->
  <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

  <!-- 본문 start -->
  <div class="container-fluid">

    <div class="row justify-content-center">
    
<!--       <div class="px-2 pb-4"> -->
<!--         <div class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3"> -->
<!--           <h6 class="text-white ps-3 m-0">학사 일정</h6> -->
<!--         </div> -->
<!--       </div> -->
    
    
      <!-- class="w-80"(또는 width: 80vw)으로 창크기에 상관없이 항상 좌우 여백이 존재하게 되므로, max-width로 지정하는게 더 예쁨. 반응형에도 더 잘 맞고(모바일용) -->
      <div class="card p-3 me-3 mb-1 border border-5" style="margin-top: 3px; max-width: 1000px;">
      
        <div class="card-header p-0 position-relative mt-n4 mb-4 z-index-2">
          <div class="bg-secondary bg-gradient-secondary shadow-secondary border-radius-lg py-3">
            <h6 class="text-white ps-3 m-0">학사 일정</h6>
          </div>
        </div>


        <!-- FullCalendar -->
        <div id="allSch"></div>
        
      </div> <!-- card -->
      
      
      
      <!-- Start modal -->
<!--       <button type="button" class="btn btn-block btn-light mb-3" id="btn-showSchInsert" data-bs-toggle="modal" data-bs-target="#modal-sch">Form</button> -->
      
      <div class="modal fade" id="modal-sch" tabindex="-1" role="dialog" aria-labelledby="modal-sch" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> <!-- modal-sm: 가로 크기 조절 -->
          <div class="modal-content">
            <div class="modal-body p-0">
              <div class="card card-plain">
              
                <div class="card-header pb-2 text-left">
                  <div class="text-end fw-bold fs-5" style="height: 10px;">
                    <span class="p-2" id="closeModal">×</span>
                  </div>
                  <script>
                    // 모달닫기 꼽표(x)
                    $('#closeModal').on('click', function(){
                      $('#modal-sch').modal('hide');
                    })
                  </script>
                  <h5 th:text=" ${#authentication.authorities[0].authority} == 'ROLE_ADMIN' ? '일정 등록' : '일정 상세' ">일정 등록</h5>
                </div>
                
                <div class="card-body pt-0">
                  <form role="form text-left">
                  
                    <div class="form-check form-switch d-flex align-items-center">
                      <input class="form-check-input my-2" type="checkbox" id="allday">
                      <label class="form-check-label mb-0 ms-3 fw-bold" for="allday" 
                             data-bs-toggle="tooltip" th:title="  ${#authentication.authorities[0].authority} == 'ROLE_ADMIN' ? '하루 단위 일정에만 지정 가능' : '종일 여부' ">종일
                      </label>
                    </div>
                    <div class="input-group input-group-outline my-3">
                      <label class="form-label">시작</label>
                      <input type="text" class="form-control fw-bold" id="schS" readonly />
                    </div>
                    <div class="input-group input-group-outline my-3">
                      <label class="form-label">종료</label>
                      <input type="text" class="form-control fw-bold" id="schE" readonly />
                    </div>
                    
                    <script th:inline="javascript">
                      // 종일스위치 토글할 때
                      $('#allday').on('change', function() {
                        let role = [[${#authentication.authorities[0].authority}]];
                        if( $(this).is(':checked') ) {
                          $('#schS').val($('#schS').val().substring(0,14)); // 기존 input 값 시,분 날리고
                          if (role == 'ROLE_ADMIN'){ // 권한 제한
                            $('#schS').datetimepicker({timepicker:false, format: 'Y-m-d (D)'}); // 시간피커와 양식도 날리기
                          }
                          $('#schE').val(null); // 종료 input 날리고 
                          $('#schE').prop('disabled', true); // 비활성화
                        } else {
                          $('#schS').val($('#schS').val().substring(0,14));
                          if (role == 'ROLE_ADMIN'){ // 권한 제한
                            $('#schS').datetimepicker({timepicker:true, format: 'Y-m-d (D) H:i'});
                          }
                          $('#schE').removeAttr('disabled');
                        }
                      })
                    </script>

                    <div class="input-group input-group-outline my-3">
                      <label class="form-label">내용</label>
                      <input type="text" class="form-control fw-bold" id="schT">
                    </div>
                    <div class="input-group input-group-outline my-3">
                      <label class="form-label">담당자</label>
                      <input type="text" class="form-control fw-bold" id="schM">
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <select class="form-control" id="schType">
                        <option style="background-color: lightgrey" disabled selected>일정구분</option>
                        <option class="fw-bold" value="GENERAL" style="background-color: #7b809a; color: white">일반</option>
                        <option class="fw-bold" value="APPLY" style="background-color: #03a9f4; color: white">신청</option>
                        <option class="fw-bold" value="CLASS" style="background-color: #4caf50; color: white">수업</option>
                        <option class="fw-bold" value="EXAM" style="background-color: #fb8c00; color: white">시험</option>
                        <option class="fw-bold" value="HOLIDAY" style="background-color: #f44335; color: white">공휴일</option>
                      </select>
                    </div>
                    <script>
                      $('#schType').on('change', function(){
                        $(this).css({
                          'border':'solid black 2px', 
                          'font-weight':'bold' , 
                          'color':$("option:selected", this).css('color') , 
                          'background-color':$("option:selected", this).css('background-color')
                        });
                      })
                    </script>
                    
                    <div class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">
                      <button type="button" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0 fs-5"
                              id="btn-schInsert">등록</button>
                      <button type="button" class="d-none btn btn-round bg-gradient-success btn-lg w-60 mt-4 mb-0 fs-5"
                              id="btn-schUpdate">수정</button>
                      <button type="button" class="d-none btn btn-round bg-gradient-danger btn-lg w-36 mt-4 mb-0 fs-5"
                              id="btn-schDelete">삭제</button>
                    </div>
                    
                  </form>
                </div> <!-- card-body -->
                
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
<!--                   <p class="mb-4 text-sm mx-auto"> -->
<!--                     Don't have an account? -->
<!--                     <a href="javascript:;" class="text-info text-gradient font-weight-bold">Sign up</a> -->
<!--                   </p> -->
                </div>
                
              </div> <!-- card -->
            </div> <!-- modal-body -->
          </div> <!-- modal-content -->
        </div> <!-- modal-dialog -->
      </div> <!-- modal -->
      
      

      
      
      
    </div> <!-- row -->
  </div>
  <!-- 본문 end-->
  
</th:block>
</html>